{% extends "template.html" %}

{% block content %}




	<div class="row no-gutters  mg-t-10">
		<div class="col-sm-12 col-lg-12">
          <div class="card">
              <div class="card-header tx-black tx-bold tx-uppercase">
                DASHBOARD
              </div><!-- card-header -->
              <div class="card-body" >
					
					<form>
					  <div class="row">
						<div class="col-5">
						  <input type="text" class="form-control" placeholder="Name">
						</div>
						<div class="col-5">
						  <input type="text" class="form-control" placeholder="Number">
						</div>
							<div class="col-2">
						  <button type="button" class="btn btn-primary"> <i class="fa fa-search tx-white" aria-hidden="true"></i></button>
						</div>
					  </div>
					</form>
					
						<hr>
						
						<div class="row p-2 tx-black">
						ATTENDANCE RECORD (19/5/2020)
						</div>
			<table class="table">
  <thead>
    <tr>
      <th scope="col">Employee</th>
      <th scope="col"></th>
	  <th scope="col">Reason</th>
	  
      
    </tr>
  </thead>
  <tbody>
    <tr>
     
      <td>Siddharth Bhonge</td>
      <td><i class="fa fa-exclamation-triangle tx-danger tx-20" aria-hidden="true"></i></td>
      <td>Answered Cough presence</td>
    </tr>
    <tr>
    
      <td>Vikas P.</td>
      <td><i class="fa fa-question-circle  tx-20 tx-warning" aria-hidden="true"></i></td>
	  <td>No QR Code requested today</td>
      
    </tr>
    <tr>
     
      <td>Swapnil Shinde </td>
      <td><i class="fa fa-exclamation-triangle tx-20  tx-danger" aria-hidden="true"></i> </td>
      <td>High temperature at security gate</td>
    </tr>
  </tbody>
</table>
			<hr>
					
	<div class="row">
	<div class="col-6">
		<button type="button" class="btn btn-warning btn-block">View Attendance</button>
	</div>	
	<div class="col-6">
		<button type="button" class="btn btn-warning btn-block">Export as CSV</button>
	</div>	
	
	</div>	
					
	 <div class="row row-sm mg-t-20">
          <div class="col-lg-6">
            <div class="card shadow-base card-body pd-25 bd-0">
              <div class="row">
                <div class="col-sm-6">
                  <h6 class="card-title tx-uppercase tx-12">Social Distancing Score</h6>
                  <p class="display-4 tx-medium tx-inverse mg-b-5 tx-lato">80%</p>
                  <div class="progress mg-b-10">
                    <div class="progress-bar bg-primary progress-bar-xs wd-30p" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div><!-- progress -->
                  <p class="tx-11 lh-3 mg-b-0">This is based on the number of violations per day.
                </div><!-- col-6 -->
             
              </div><!-- row -->
            </div><!-- card -->
          </div><!-- col-6 -->
          <div class="col-lg-6 mg-t-30 mg-lg-t-0">
            <div class="card shadow-base card-body pd-25 bd-0">
              <div class="row">
                <div class="col-sm-6">
                  <h6 class="card-title tx-uppercase tx-12 tx-inverse">Temperaature Summary</h6>
                  <p class="display-4 tx-medium tx-inverse mg-b-5 tx-lato">85%</p>
                  <div class="progress mg-b-10">
                    <div class="progress-bar bg-info progress-bar-xs wd-45p" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div><!-- progress -->
                  <p class="tx-12">This represents the percentage of people with normal temperature. </p>
                  
                </div><!-- col-6 -->
                <div class="col-sm-6 mg-t-20 mg-sm-t-0 d-flex align-items-end justify-content-center">
                  <span class="peity-bar" data-peity='{ "fill": ["#17A2B8","#6F42C1","#20C997","#0866C6"], "height": 150, "width": 250 }'>8,6,5,9,8,4,9,3,5,9</span>
                </div><!-- col-6 -->
              </div><!-- row -->
            </div><!-- card -->
          </div><!-- col-6 -->
        </div><!-- row -->				
				
		<div class="row">
			<button onclick="show()" class="btn btn-warning btn-block">View Trace </button>
		</div>
			 
		
		
		</div>
		</div>
		</div>
	</div>
     
<script>     
function show()
{
	 
     location.href = "/trace";
} 


</script>


 
{% endblock %}

   

