{% extends "template.html" %}

{% block content %}

       
<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }


  .CARD_HEADER_FONT {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.93px;
    text-align: center;
    color: var(--windows-blue);
  }

  .Rectangle {

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.75px;
    text-align: center;
    color: var(--white);
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 #b9b9b9;
    background-color: var(--windows-blue);

  }

  .Rectangle-dark {

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.75px;
    text-align: center;
    color: var(--white);
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 #b9b9b9;
    background-color: var(--metallic-blue);

  }

  
  
  .Alert-font {
    font-family: Manrope;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: 0.38px;
    color: var(--dusk-blue);
  }

  .form-control.base {
    border-radius: 5px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
    background-color: #fbfbfb;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--windows-blue)
  }

  .form-control.base::-webkit-input-placeholder {
    font-family: Manrope;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--windows-blue);
    border: none;
  }

  table.dataTable thead {
    background-color: var(--dusk-blue);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: 0.38px;
    color: var(--white);
  }


  table.dataTable tbody,table.dataTable select{
    width: 136px;
    height: 11px;
    font-family: Manrope;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.33px;
    color: var(--windows-blue);
  }

  div.dataTables_filter label,div.dataTables_length label,div.dataTables_length select,div.dataTables_info,div.dataTables_paginate,div.dataTables_paginate_button,table.dataTables{
    font-family: Manrope;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.33px;
    color: var(--windows-blue);
  }

 .Have-you-experien {

	font-family: Manrope;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.14;
	letter-spacing: 0.38px;
	color: #28499f;

}

 .Have-you-experien-dark {

	font-family: Manrope;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.14;
	letter-spacing: 0.38px;
	color:var(--dusk-blue:);

}


.Have-you-experien-bold {

	font-family: Manrope;
	font-size: 12px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.14;
	letter-spacing: 0.38px;
	color: #28499f;

}

.form-control.base {
  border-radius: 5px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  background-color: #fbfbfb;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--windows-blue)
  
  }

.form-control.base::-webkit-input-placeholder {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--light-sky-blue)
  border:none;
}

.dataTables_filter { display: none; }


table.dataTable.no-footer {
        border-bottom: 0 !important;
    }

.notification_border{
	border-radius: 5px;
	border-width: 1px !important;
	border-style: solid;
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
	background-color: #fbfbfb;
	border-color: var(--gray-medium) !important;;
}
	
</style>
	<div class="row no-gutters  mg-t-10">
		<div class="col-sm-12 col-lg-12">
          <div class="card">
              <div class="card-header CARD_HEADER_FONT">
                NOTIFICATION HISTORY 
              </div><!-- card-header -->
              <div class="card-body" >
			
			
			
		
			
			
		</div>
		</div>
		</div>
	</div>
        
		
<script>

//var notfication_data = [{'message': 'Hello_new', 'owner': 'Siddharth Bhonge', 'timestamp': datetime.datetime(2020, 7, 22, 23, 41, 21, 988194)}, {'message': 'Hello', 'owner': 'Siddharth Bhonge', 'timestamp': datetime.datetime(2020, 7, 22, 23, 41, 2, 237000)}, {'message': 'Hello', 'owner': 'Siddharth Bhonge', 'timestamp': datetime.datetime(2020, 7, 22, 23, 40, 54, 813000)}, {'message': 'Hello', 'owner': 'Siddharth Bhonge', 'timestamp': datetime.datetime(2020, 7, 22, 23, 38, 5, 204000)}];

var socket = io.connect('http://' + document.domain + ":" + location.port)

socket.emit("get_all_messages");

socket.on("master_console", function (dataSet) {


}

socket.on("send_all_messages", function (dataSet) {

console.log(messages);

var inner_html = "";
inner_html += '<div class="card  p-0 notification_border mb-1">'  
inner_html += '<div class="card-body p-0">'
inner_html += '<div class="d-flex bd-highlight">'
inner_html += '<div class="mr-auto p-2 bd-highlight Have-you-experien">Some quick example text to build on the card title and make up the bulk of the cards content.</div>'
inner_html += '<div class="p-3 bd-highlight Have-you-experien"> <center><img src="/static/img/verified@3x.png"  height="32px" width="32px"></center> </div>'
inner_html += '</div>
inner_html += '<div class="d-flex bd-highlight">'
inner_html += '<div class="mr-auto p-1 bd-highlight Have-you-experien">12/07/2020 HH:MM:TT</div>'
inner_html += '<div class="p-1 bd-highlight Have-you-experien">- Owner Name</div>'
inner_html += '</div>'
inner_html += '</div>'
inner_html += '</div>'


}


</script>		
		
		
		
{% endblock %}



      
  
  
