{% extends "template.html" %}
{% block content %}
<style>
@media only screen and (min-width: 769px) {
		.SELF-DECLARATION {
		
				font-family: Montserrat;
				font-size: 24px;
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: 3.2px;
				color: #365ec8;
		}

		.Please-read-the-ques {
				
				font-family: Manrope;
				font-size: 16px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.25;
				letter-spacing: normal;
				color: #546593;
				}

				.-Have-you-experien {
  
					font-family: Manrope;
					font-size: 14px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 2.14;
					letter-spacing: 0.38px;
					color: #28499f;
					
				}

				.Radio-Button {
					
					object-fit: contain;
					box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
					
				}

				.YES {
					
					font-family: Manrope;
					font-size: 16px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.03;
					letter-spacing: 0.67px;
					color: #546593;
					}
					.Rectangle {
						
						border-radius: 5px;
						box-shadow: 0 2px 6px 0 #b9b9b9;
						background-color: #85a5c2;
						}
						.Rectangle1 {
						border-radius: 5px;
						box-shadow: 0 2px 6px 0 #b9b9b9;
						background-color: #365ec8;

						}

						.GENERATE-PASS {
							
							font-family: Montserrat;
							font-size: 12px;
							font-weight: 300;
							font-stretch: normal;
							font-style: normal;
							line-height: normal;
							letter-spacing: 1.5px;
							text-align: center;
							color: #ffffff;
							}

							.I-have-read-the-term {
								
								font-family: Manrope;
								font-size: 14px;
								font-weight: normal;
								font-stretch: normal;
								font-style: normal;
								line-height: 1.29;
								letter-spacing: 0.45px;
								color: #28499f;
								margin-left: -15px;
								}

								.I-have-read-the-term .text-style-1 {
								letter-spacing: 0.42px;
								}

								.I-have-read-the-term .text-style-2 {
								color: #365ec8;
								}
								.Path {
 
									border: solid 0.5px #d4e3f0;
									}
									.Radio-Button {
 
										object-fit: contain;
										box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
										background-color: rgba(115, 137, 156, 0.2);
}
			}

								/*for mobile*/
			@media only screen and (max-width: 768px) {

				.SELF-DECLARATION {
						
						font-family: Montserrat;
						font-size: 14px;
						font-weight: 300;
						font-stretch: normal;
						font-style: normal;
						line-height: normal;
						letter-spacing: 1.87px;
						text-align: center;
						color:#365ec8;
						}

					.Please-read-the-ques {
						
						font-family: Manrope;
						font-size: 8px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 2.5;
						letter-spacing: normal;
						text-align: center;
						color: #546593;
						}
						
					.-Have-you-experien {
							
							font-family: Manrope;
							font-size: 11px;
							font-weight: normal;
							font-stretch: normal;
							font-style: normal;
							line-height: 1.82;
							letter-spacing: 0.3px;
							color: #28499f;
							}
			
							.YES {
								
								font-family: Manrope;
								font-size: 12px;
								font-weight: normal;
								font-stretch: normal;
								font-style: normal;
								line-height: 0.92;
								letter-spacing: 0.5px;
								color: #546593;
								}

								.I-have-read-the-term {
									
									font-family: Manrope;
									font-size: 10px;
									font-weight: normal;
									font-stretch: normal;
									font-style: normal;
									line-height: 1.4;
									letter-spacing: 0.3px;
									color: #28499f;
									margin-left: -20px;
									}

									.I-have-read-the-term .text-style-1 {
									color: #365ec8;
									}
									
									.Rectangle {
														
										border-radius: 5px;
										box-shadow: 0 2px 6px 0 #b9b9b9;
										background-color: #85a5c2;
										}

										.Rectangle1{
										border-radius: 5px;
										box-shadow: 0 2px 6px 0 #b9b9b9;
										background-color: #365ec8;
										}

										.GENERATE-PASS {
											
											font-family: Montserrat;
											font-size: 12px;
											font-weight: 300;
											font-stretch: normal;
											font-style: normal;
											line-height: normal;
											letter-spacing: 1.5px;
											text-align: center;
											color: white;
											}

											.Path {
 
											border: solid 0.5px #d4e3f0;
											}
.Have-you-experien {

	font-family: Manrope;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.14;
	letter-spacing: 0.38px;
	color: #28499f;

}
											
									}
</style>
	<div class="row no-gutters  mg-t-10">
		<div class="col-sm-12 col-lg-12">
          <div class="card bd bd-0 bd-white">
              <div class="card-header bg-white bd bd-0 bd-white">
				<div class="SELF-DECLARATION ">SELF DECLARATION  </div>
				<div class="Please-read-the-ques">Please read the questons carefully and provide accurate answers</div>
              </div><!-- card-header -->
              <div class="card-body" >
			  <div class="row">
			  <div class="col-12">
			  
			  <center>
			  <!--<img src="/static/img/coorect_answes.jpg" width ="60%">-->
			  <!--<img src="/static/img/coorect_answes.jpg" height="200px" class="rounded mx-auto d-block" alt="...">-->
			
			  </center>
			  </div>
			  
			  </div>
			 
			
			<div  id="card_body_html">
			
			
			
			
			  
			
			</div>
			
				   
				   <div class="row mg-t-20 ">

					<div class="col-2 col-md-1 col-lg-1 d-flex justify-content-end">

					  <label class="ckbox ckbox-primary ">

						  <input type="checkbox" id="myCheck" onclick="checks();"><span></span>

						</label>

					</div>

​

					<div class="col-10 col-md-11 col-lg-11  d-flex justify-content-start ">

						<div class="I-have-read-the-term d-flex justify-content-start">

						  I have read the terms & conditions and attest that the information provided by me above is true and correct.

					  

						</div>

				  </div>

​

					</div>				  
					  <button onclick="get_changes()" class="btn  btn-block Rectangle mg-t-10" id="generate_pass" disabled><div class="GENERATE-PASS">GENERATE PASS</div></button>
					<script>

						function checks() {
							
								//document.getElementById("myCheck").checked = true;
								
								var x = document.getElementById("myCheck").checked;
								
								if(x==true){

									document.getElementById("generate_pass").className="btn  btn-block Rectangle1 mg-t-10"
									document.getElementById("generate_pass").disabled=false;

								}
								if(x==false){

								document.getElementById("generate_pass").className="btn  btn-block Rectangle mg-t-10"
								document.getElementById("generate_pass").disabled=true;

									}
							
						}


					</script>
			
		
			
		</div>
		</div>
		</div>
	</div>
 
<script>
var socket=io.connect('http://'+document.domain+":"+location.port)
socket.emit("Declaration Page");

var global_dataset = [];

 
socket.emit("get_daily_declaration_questions");
socket.on("sent_daily_declaration_questions",function(dataSet){

  console.log("data here");
  
	
	global_dataset = dataSet;
    inner_html = "";
	for(var question_counter=0 ; question_counter < dataSet.length ; question_counter++){
	  
	  var data = dataSet[question_counter]['question'];
	  //console.log(data);
	
	  
	  if(data['type']=='Options'){
		
		number = question_counter +1 ;
		inner_html += '<div class="form-group ">' ; 
		inner_html += '<label for="scan_unit" class="Have-you-experien">'+ number  + ". " + data['que'] + '</label>' ;
		
		for (var i= 0;i<data['options'].length ; i++){
		
		inner_html += '<div class="form-check pl-5">' ;
		
		
		inner_html += '<input class="form-check-input '+data['q_id'] +'" type="radio" name="'+data['q_id'] +'" value="'+data['options'][i] +'" > ';
		
		inner_html += '<label class="form-check-label Have-you-experien"> '+ data['options'][i]  ; 
		inner_html += '</label>' ; 
		inner_html += '</div>' ;
		
		}
		inner_html += '<hr >' ;
		inner_html += '</div>'; 
		
		}
	  
	  else if(data['type']=='Single Entry'){
		
		number = question_counter +1 ;
		inner_html += '<div class="form-group ">' ; 
		inner_html += '<label for="scan_unit" class="Have-you-experien">'+ number  + ". " + data['que'] + '</label>' ;
		
		inner_html += '<div class="form-group">' ;
		inner_html += '<input type="text" class="form-control" id="'+ data['q_id']+'">' ; 
		inner_html += '</div>';
		
		inner_html += '<hr >' ;
		inner_html += '</div>'; 
		
		
		}
	
	  else if(data['type']=='Multiple_Options'){
		
		//console.log(data);
		
		number = question_counter + 1 ;
		inner_html += '<div class="form-group ">' ; 
		inner_html += '<label for="scan_unit" class="Have-you-experien">'+ number  + ". " + data['que'] + '</label>' ;
		
		for (var i= 0;i<data['options'].length ; i++){
		
		inner_html += '<div class="form-check pl-5">' ;
		
		
		inner_html += '<input class="form-check-input '+data['q_id'] +'" type="checkbox" name="'+data['q_id'] +'" value="'+data['options'][i] +'" > ';
		
		
		inner_html += '<label class="form-check-label Have-you-experien"> '+ data['options'][i]  ; 
		inner_html += '</label>' ; 
		inner_html += '</div>' ;
		
		}
		inner_html += '<hr >' ;
		inner_html += '</div>'; 
		
		
		}
	
}

inner_html += ' <div class="Have-you-experien pd-2" id="master_console" ></div> '; 

//console.log(inner_html);
//inner_html += ' <button type="button" onclick=get_changes() class="btn btn-secondary  btn-block"> Save </button>' ;   
document.getElementById("card_body_html").innerHTML = inner_html ;
  
});


function get_changes(){
  
  
   
   console.log(data);
   
  
  for(var question_counter=0 ; question_counter < ( global_dataset.length ) ; question_counter++){
    
	var data = global_dataset[question_counter]['question'];
	global_dataset[question_counter]['question']["correct/better_option"] = "";
    console.log(data);
   
	if(data['type']=='Options'){
	
	var options = document.getElementsByClassName(data['q_id']);
	//console.log(options);
	
	for(var i = 0; i < options.length; i++) {
	if(options[i].checked){
       global_dataset[question_counter]['question']["correct/better_option"] = options[i].value;
	   //console.log(global_dataset[question_counter]['question']["correct/better_option"]);
	
	   }
	}
	
	
   }
   
   if(data['type']=='Multiple_Options'){
	
	console.log("--------------------")
	var options = document.getElementsByClassName(data['q_id']);
	
	
	temp=[]
	for(var i = 0; i < options.length; i++) {
	if(options[i].checked){
		//console.log(options[i]);
		//console.log(options[i].value);
		temp.push(options[i].value);
		}
	
	}
	
	global_dataset[question_counter]['question']["correct/better_option"] = temp;
	
	
   }
   
   if(data['type']=='Single Entry'){
   
   var element = document.getElementById(data['q_id']);
   console.log(data['q_id']);
   global_dataset[question_counter]['question']["correct/better_option"]  = element.value ;
   
    console.log("------------------------------------------------------")
	console.log(global_dataset[question_counter]['question']["correct/better_option"]);
	console.log("------------------------------------------------------")
	
   
   }
   
   


   
  }
 console.log(global_dataset);
 
 // ==================== Check if all questions are answered =======================
 
	 flag = 1
	 for(var question_counter=0 ; question_counter < ( global_dataset.length ) ; question_counter++){
	 
		
		if (global_dataset[question_counter]['question']["correct/better_option"] == ""){
			var number = question_counter + 1 ;
			document.getElementById("master_console").innerHTML = "Question " + number+ " is not answered. Please answer the question to continue."  ;
			flag = 0;
			break ;
		}
	 }
	if (flag == 1 ){
		//socket.emit("save_question_changes", global_dataset );
		document.getElementById("master_console").innerHTML = "Generating Epass . . ."
		socket.emit("declaration_data_new",global_dataset);
	}
}



 
function declaration(){
 var fever = 0;
 if (document.getElementById('fever_no').checked) {
		fever = 'no';
	}
else{
	fever= 'yes';
	}
	console.log(fever);

var cough = 0;
 if (document.getElementById('cough_no').checked) {
		cough = 'no';
	}
else{
	cough = 'yes';
	}
	console.log(cough);
	
var breathing = 0;
if (document.getElementById('breathing_no').checked) {
		breathing = 'no';
	}
else{
	breathing = 'yes';
	}
	console.log(breathing);
	
var redzone = 0;
if (document.getElementById('redzone-no').checked) {
		redzone = 'no';
	}
else{
	redzone = 'yes';
	}
	console.log(redzone);	

data = {
"fever" : fever,
"cough" : cough,
"breathing" : breathing ,
"redzone" : redzone,
}
console.log(data);
socket.emit("declaration_data",data);
 
}



</script>

<script>
//var socket=io.connect('http://'+document.domain+":"+location.port)
var id_array=[];
//var question_array=[];
//var final_array=[]
//socket.emit("req_all_declaration_questions")

  socket.on("response_all_declaration_questions",function(all_sign_up_questions){
    questions = JSON.parse(all_sign_up_questions);
  console.log(questions);
  var  str=""
  for(var i=0;i<questions.length;i++){
    que_dt= questions[i]['question'];
    if(que_dt['type']=="Single Entry"){
         str+='<div class="row mg-t-10">\
                <div class="col-lg-4">\
                 <div class="form-group">\
                 <label class="form-control-label tx-dark -Have-you-experien">'+(i+1)+'.&nbsp;'+que_dt['que']+': </label>\
                <input class="form-control form-control-sm" type="text" name="" value="" placeholder="Enter  '+que_dt['que']+'" id="'+que_dt['q_id']+'">\
              </div>\
            </div></div><hr class="Path">';
            id_array.push(que_dt['q_id']);
            }
            
    if(que_dt['type']=="Options"){
        options=que_dt['options'];
        str+='<div class="row mg-l-5 mg-t-10"><label class="form-control-label tx-dark -Have-you-experien">'+(i+1)+'.&nbsp;'+que_dt['que']+'</label></div>';
        str+='<div class="row ">';
        for(var j=0;j<options.length;j++){
                str+='<div class="col-4 col-md-2 col-lg-4  mg-lg-t-0">\
                              <label class="rdiobox">\
                                  <input name="'+que_dt['q_id']+'_rdio" type="radio" value="'+options[j]+'">\
                                  <span class=" YES">'+options[j]+'</span>\
                             </label>\
                         </div>';
                         

        }
        radio_id=que_dt['q_id']+"_rdio";
        id_array.push(radio_id);
        str+='</div><hr class="Path">';

    
    
}

}
str+='<center><div id="msg"></div></center>'
//str+='<center><button class="btn btn-warning btn-block mg-t-30" onclick="all_answers()">Submit</button></center>';
  document.getElementById("form_fill").innerHTML=str;
  //console.log(str);
//console.log("ids here");
  //console.log(id_array);

});




function chk(){

var value=$("input:radio[name=rdio0]:checked").val();
//console.log(value);
//alert(value);

}
/* function save answers*/
function all_answers(){
question_array=[];
final_array=[]


for(var k=0;k<id_array.length;k++){

question_answer={}
var chk_id= id_array[k].includes("_rdio");

if(chk_id==true){
    
    var value=$("input:radio[name="+id_array[k]+"]:checked").val();
   // question_answer[id_array[k]]=value;
    idss=id_array[k].split('_')
    question_answer['q_id']=idss[0]
    question_answer['answer']=value;

    question_array.push(question_answer);


}

if(chk_id==false){

//var value=$("input:radio[name="+id_array[k]+"]:checked").val();
var value=document.getElementById(id_array[k]).value;

//console.log(value);

question_answer['q_id']=id_array[k]
question_answer['answer']=value;
question_array.push(question_answer);
//console.log(question_array);



}
  



}
//console.log(question_array);

for(var h=0;h<question_array.length;h++){

    if( question_array[h]['answer'] != undefined && question_array[h]['answer'] != "" ) {
            //console.log(question_array[h]);
            final_array.push(question_array[h])
    }
    
   

}
//console.log("length of final array");
//console.log(final_array.length);
//console.log(id_array.length-final_array.length);
remaning_questions=id_array.length-final_array.length;
if(remaning_questions!=0){


 // console.log(remaning_questions);
msg="<p class='tx-danger'>Sorry please solve all questions."+String(remaning_questions)+" question are remaining...</p>";
document.getElementById("msg").innerHTML=msg;

 
}


if(remaning_questions==0){
msg="<p class='tx-success'>Thank You !! All Questions Successfully Solve.</p>";
//document.getElementById("msg").innerHTML=msg;
console.log(final_array);
socket.emit("declaration_data",JSON.stringify(final_array))


}
}

socket.on("declaration_submitted",function(){
location.href = "/epass";
 });



</script>

{% endblock %}