{% extends "template.html" %}

{% block content %}

<style>
					
					:root {
					  --windows-blue: #365ec8;
					  --bluish: #3091c9;
					  --warm-blue: #5460dc;
					  --white: #ffffff;
					  --dusk-blue: #28499f;
					  --bluey-grey: #85a5c2;
					  --light-sky-blue: #d4e3f0;
					  --lipstick: #bb166b;
					  --bluish-grey-20: rgba(115, 137, 156, 0.2);
					  --topaz: #16b8bb;
					  --aquamarine: #00d7af;
					  --metallic-blue: #546593;
					  --bluish-grey: #73899c;
					  --very-light-pink: #d7d7d7;
					  --gray-medium: rgba(205, 205, 210, 0.5);
					  --text: #77777a;
					  ---style: #002251;
					}
					
					.Rectangle-8-Copy {
					  border-radius: 10px;
					  box-shadow: 0 13px 24px 0 rgba(72, 79, 98, 0.41);
					  background-color: var(--white);
					}

					
					.Pass-valid {
					  font-family: Manrope;
					  font-size: 12px;
					  font-weight: normal;
					  font-stretch: normal;
					  font-style: normal;
					  line-height: normal;
					  letter-spacing: 0.43px;
					  color: var(--dusk-blue);
					}
				  
				
				 .FirstName-LastName {
				  font-family: Montserrat;
				  font-size: 14px;
				  font-weight: 300;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: normal;
				  letter-spacing: 0.7px;
				  text-align: center;
				  color: var(--dusk-blue);
				}
				.Last-Scan-910-am {
				  font-family: Manrope;
				  font-size: 12px;
				  font-weight: normal;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: normal;
				  letter-spacing: normal;
				  text-align: center;
				  color: var(--dusk-blue);
				}
				.Last-Temp-Recorded {
				  font-family: Manrope;
				  font-size: 12px;
				  font-weight: normal;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: normal;
				  letter-spacing: normal;
				  text-align: center;
				  color: var(--dusk-blue);
				}

				.Congratulations-You {
				  opacity: 0.76;
				  font-family: Manrope;
				  font-size: 10px;
				  font-weight: normal;
				  font-stretch: normal;
				  font-style: normal;
				  letter-spacing: 0.3px;
				  text-align: center;
				  color: var(--metallic-blue);
				}
				
				
				.Footer {
				  opacity: 0.76;
				  font-family: Manrope;
				  font-size: 10px;
				  font-weight: normal;
				  font-stretch: normal;
				  font-style: normal;
				  letter-spacing: 0.3px;
				  text-align: center;
				  color: var(--white);
				}
				.Rectangle-green {
				  
				  background-color: var(--topaz);
				}
				.Rectangle-red {
				   background-color: #e5657b;
				  
				}

			
				 .Warning-Icon {
					  width: 25px;
					  height: 22px;
					  object-fit: contain;
					}
				
			.DAILY-PASS-DENIED {
			  font-family: Montserrat;
			  font-size: 14px;
			  font-weight: 300;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: normal;
			  letter-spacing: 1.87px;
			  text-align: center;
			  color: var(--windows-blue);
			}
			
			.Jun-2020 {
			  font-family: Manrope;
			  font-size: 12px;
			  font-weight: normal;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: normal;
			  letter-spacing: 0.43px;
			  text-align: center;
			  color: var(--dusk-blue);
			}
			.Self-Declared-Unfit {
			  font-family: Manrope;
			  font-size: 12px;
			  font-weight: normal;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: normal;
			  letter-spacing: 0.43px;
			  text-align: center;
			  color: var(--lipstick);
			}
			
			.Your-latest-Self-Dec {
			  width: 229px;
			  height: 58px;
			  font-family: Manrope;
			  font-size: 10px;
			  font-weight: normal;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 1.4;
			  letter-spacing: 0.63px;
			  color: var(--dusk-blue);
			  margin:auto;
			}
			
			.NEXT-STEPS {
			  font-family: Montserrat;
			  font-size: 14px;
			  font-weight: 300;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: normal;
			  letter-spacing: 1.87px;
			  text-align: center;
			  color: var(--windows-blue);
			}
			
			.Your-Admin-will-co {
			  font-family: Manrope;
			  font-size: 10px;
			  font-weight: normal;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 1.4;
			  letter-spacing: 0.63px;
			  color: var(--dusk-blue);
			  
			}
			
			.Path {
			  border: solid 0.5px var(--light-sky-blue);
			 
			}
				 </style>
				

	<div class="row no-gutters  mg-t-10">
		<div class="col-12 col-md-6 ">
          <div class="card-round" id="outer_card" >
              <!--<div class="card-header tx-black tx-bold tx-uppercase">
                E-PASS 
              </div> card-header -->
			  <div class="card-body" >
				<div class="card-custom bg-white ">
				<!--<div class="alert alert-{{ color }} alert-dismissible fade show" role="alert">-->
				
				
				{% if 'Accepted' == status %}
				
				  
				  <div class="mg-t-10 pd-10 Pass-valid ">
				  
				  
				  <!--<strong  >{{ status }} ! </strong>  {{ last_app }}.-->
				  Pass Valid
				  
				 
				  
				  <span class="pull-right">
				  
				  {{ last_app }}
				  
				  </span>
				  
				  </div>
				  
				  
				
				<div class="row justify-content-center pd-r-25 pd-l-25 pd-t-0 pd-b-10">
				<img src="{{ src }}" height="220px" alt="...">
				</img>	
				</div>
				<div class="row justify-content-center ">
							<div class="FirstName-LastName">
								{{ name }}
								
							</div>
				</div>

				<!--<div class="row justify-content-center mg-t-10">
					<div class="Last-Scan-910-am">
						Last Scan: 9:10 am					
					</div>
				</div>-->
				
					<div class="row justify-content-center  mg-t-10">
					<div class="Last-Temp-Recorded">
						Last Scan : {{ scan_time }}
					</div>
				</div>
			
				<div class="row justify-content-center  mg-t-10">
					<div class="Last-Temp-Recorded">
						Last Temperature Recorded: {{temperature}}  &#176; {{scan_unit}} 
						
					</div>
				</div>
				
				
				<div class="row  justify-content-center  mg-t-10 pd-10">
					<div class="Congratulations-You">
						Congratulations! <br>
						Your Daily Pass has been generated. Have a good day!						
					</div>
		        </div>
				 {% endif %} 
				 
				 
				 	{% if 'You do not have any E-Pass Applications. Please answer questions in Self-Declaration section to get an E-Pass' == status or 'No Application found in last 24 hours.' == status %}
				 <script>
				 
				 window.location = "/declaration";
				 
				 </script>
				 
				 
				 
				 {% endif %} 
				 
				 
				 
				 {% if 'Rejected' == status %}
				 	
				<div class="row  justify-content-center  mg-t-10 pd-10">
					<img src="static/img/warning-icon.png" class="Warning-Icon" alt="...">
					</img>	
				</div>	
				
				<div class="row  justify-content-center  mg-t-10 pd-10 DAILY-PASS-DENIED">
					DAILY PASS DENIED
				</div>	
				
				<div class="row  justify-content-center  mg-t-5 Jun-2020">
					{{ last_app }}
				</div>	
				
					<div class="row  justify-content-center  mg-t-5 Self-Declared-Unfit">
					Self Declared Unfit
				</div>	
				
					<div class="row  justify-content-center  mg-t-10 pd-t-10 pd-b-30 Your-latest-Self-Dec">
					
					Your latest Self Declaration form indicates that it is not safe for you to be reporting to work. Please remain calm and follow the next steps in order to stay safe and be well. 
					
				</div>	
				
				<div class=" mg-t-30 mg-10 Path">
				
				</div>
				
					<div class="row  justify-content-center NEXT-STEPS">
					
					NEXT STEPS
				</div>	
				
				
					<div class="row  justify-content-center pd-40  Your-Admin-will-co">
					
						•	Your Admin will contact you shortly. <br> <br>
						•	In case you are unwell, please visit a doctor immediately<br> <br>
						•	You will be able to generate a new pass once your account has been re-activated by your Admin. <br> <br>
						•	In case you think there has been an error, please contact your Admin or Anzen Support.<br> <br>
									
				</div>	
				
				
					
				
				 {% endif %} 
				
				
			{% if 'high_temperature' == status %}
				 	
				<div class="row  justify-content-center  mg-t-10 pd-10">
					<img src="static/img/warning-icon.png" class="Warning-Icon" alt="...">
					</img>	
				</div>	
				
				<div class="row  justify-content-center  mg-t-10 pd-10 DAILY-PASS-DENIED">
					DAILY PASS DENIED
				</div>	
				
				<div class="row  justify-content-center  mg-t-5 Jun-2020">
					{{ last_app }}
				</div>	
				
					<div class="row  justify-content-center  mg-t-5 Self-Declared-Unfit">
					 Temperature Recorded: {{temperature}}  &#176; {{scan_unit}} 
				</div>	
				
					<div class="row  justify-content-center  mg-t-10 pd-t-10 pd-b-30 Your-latest-Self-Dec">
					
					Your latest temperature scan indicates that it is not safe for you to be reporting to work. Please remain calm and follow the next steps in order to stay safe and be well. 
				</div>	
				
				<div class=" mg-t-30 mg-10 Path">
				
				</div>
				
					<div class="row  justify-content-center NEXT-STEPS">
					
					NEXT STEPS
				</div>	
				
				
					<div class="row  justify-content-center pd-40  Your-Admin-will-co">
					
						•	Your Admin will contact you shortly. <br> <br>
						•	In case you are unwell, please visit a doctor immediately<br> <br>
						•	You will be able to generate a new pass once your account has been re-activated by your Admin. <br> <br>
						•	In case you think there has been an error, please contact your Admin or Anzen Support.<br> <br>
									
				</div>	
				
				
					
				
				 {% endif %} 
				
				
				
				
			</div>





		</div>
		</div>
		</div>
	</div>
<script>     
function show()
{
  location.href = "/declaration";
} 


</script>

<script>

var e_pass_status = "{{ status }} ";
console.log(e_pass_status) 


if ( e_pass_status == "Accepted "){
	ht=window.screen.availWidth;
		if(ht<768) {
	    			
		document.getElementById("main_panel").className="br-mainpanel Rectangle-green"
		document.getElementById("outer_card").className="card  Rectangle-green"
		document.body.style.backgroundColor = "#16b8bb";
		//document.getElementById("body-id").classList.add = "Rectangle-green"
		//document.getElementById("change_class").innerHTML='<img src="/static/img/logo-header_new.png" class="images">';
   }
   	document.getElementById("outer_card").className="card  Rectangle-green"
 }

if ( e_pass_status == "You do not have any E-Pass Applications. Please answer questions in Self-Declaration section to get an E-Pass " || 

e_pass_status == "No Application found in last 24 hours. "

){
	ht=window.screen.availWidth;
		if(ht<768) {
	    			
		document.getElementById("main_panel").className="br-mainpanel Rectangle-green"
		document.getElementById("outer_card").className="card  Rectangle-green"
		document.body.style.backgroundColor = "#16b8bb";
		//document.getElementById("body-id").classList.add = "Rectangle-green"
		//document.getElementById("change_class").innerHTML='<img src="/static/img/logo-header_new.png" class="images">';
   }
   	document.getElementById("outer_card").className="card  Rectangle-green"
 }
 
 
 
if ( e_pass_status == "Rejected "){
	ht=window.screen.availWidth;
		if(ht<768) {
	    			
		document.getElementById("main_panel").className="br-mainpanel Rectangle-red"
		document.getElementById("outer_card").className="card  Rectangle-red"
		document.body.style.backgroundColor = "#e5657b";
		//document.getElementById("body-id").classList.add = "Rectangle-green"
		//document.getElementById("change_class").innerHTML='<img src="/static/img/logo-header_new.png" class="images">';
   }
   document.getElementById("outer_card").className="card  Rectangle-red"
 }

if ( e_pass_status == "high_temperature "){
	ht=window.screen.availWidth;
		if(ht<768) {
	    			
		document.getElementById("main_panel").className="br-mainpanel Rectangle-red"
		document.getElementById("outer_card").className="card  Rectangle-red"
		document.body.style.backgroundColor = "#e5657b";
		//document.getElementById("body-id").classList.add = "Rectangle-green"
		//document.getElementById("change_class").innerHTML='<img src="/static/img/logo-header_new.png" class="images">';
   }
   document.getElementById("outer_card").className="card  Rectangle-red"
 }
 
 
var socket=io.connect('http://'+document.domain+":"+location.port)
socket.emit("Declaration Page");
 
 
</script>

{% endblock %}


