{% extends "template.html" %}

{% block content %}

 <style>

:root {
  --windows-blue: #365ec8;
  --bluish: #3091c9;
  --warm-blue: #5460dc;
  --white: #ffffff;
  --dusk-blue: #28499f;
  --bluey-grey: #85a5c2;
  --light-sky-blue: #d4e3f0;
  --lipstick: #bb166b;
  --bluish-grey-20: rgba(115, 137, 156, 0.2);
  --topaz: #16b8bb;
  --aquamarine: #00d7af;
  --metallic-blue: #546593;
  --bluish-grey: #73899c;
  --very-light-pink: #d7d7d7;
  --gray-medium: rgba(205, 205, 210, 0.5);
  --text: #77777a;
  ---style: #002251;
}
	
	
.CARD_HEADER_FONT {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.93px;
  text-align: center;
  color: var(--windows-blue);
}
.Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
  .Alert-font {
  font-family: Manrope;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.61;
  letter-spacing: 0.38px;
  color: var(--dusk-blue);
}

.Have-you-experien {

	font-family: Manrope;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.14;
	letter-spacing: 0.38px;
	color: #28499f;

}

.YES {
								
								font-family: Manrope;
								font-size: 12px;
								font-weight: normal;
								font-stretch: normal;
								font-style: normal;
								line-height: 0.92;
								letter-spacing: 0.5px;
								color: #546593;
								background-color: ;
								}

.Oval-Copy {
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--bluish-grey-20);
}

.I-have-read-the-term {
  font-family: Manrope;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.3px;
  color: var(--dusk-blue);
}
.form-control.base {
  border-radius: 5px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  background-color: #fbfbfb;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--windows-blue)
  
  }

.form-control.base::-webkit-input-placeholder {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--windows-blue);
   border:none;
}

	</style>
       
	<div class="row no-gutters  mg-t-10">
		<div class="col-sm-12 col-lg-12">
          <div class="card">
              <div class="card-header CARD_HEADER_FONT">
                SECURITY - MANUAL ENTRY
              </div><!-- card-header -->
              <div class="card-body" >
					
						<!--<img src="/static/img/manual.jpg" width="100%">-->
							<!--<img src="/static/img/security.svg" height="200px" class="rounded mx-auto d-block" alt="...">-->
			
					
					
					
				<form>
				<div class="form-group Have-you-experien pt-2  ">
					<label for="number">1. Visitor / Employee Phone number</label>
					<input type="text" class="form-control base" id="number" >
			
				  </div>
				  <hr>
				  <div class="form-group Have-you-experien pt-2 ">
					<label for="temperature1">2. Visitor / Employee Temperature </label>
					<input type="number" class="form-control base" id="temperature1" >
			
				  </div>
				<hr>
					  <div class="form-group Have-you-experien">
						<div class= "pb-2">3. Is the Visitor / employee wearing mask ?</div>
						<div class="col-12 form-check ">
						  <input class="form-check-input " type="radio" name="exampleRadios" id="mask" value="option1" checked>
						  <label class="form-check-label" for="exampleRadios1">
							Yes
						  </label>
						</div>
						<div class=" col-12 form-check">
						  <input class="form-check-input" type="radio" name="exampleRadios" value="option2">
						  <label class="form-check-label" for="exampleRadios2">
							No
						  </label>
						</div>
													
					</div>
					<hr>
					 <div class="form-group Have-you-experien">
						<div class= "pb-2">4. Reason for Manual Entry</div>
						<div class="col-12 form-check ">
						  <input class="form-check-input YES"  type="radio" id="qrscan_not_working" name="error_code" id="exampleRadios1" value="option1" checked>
						  <label class="form-check-label" for="exampleRadios1">
							QR Code Not Scanning
						  </label>
						</div>
						<div class=" col-12 form-check">
						  <input class="form-check-input" type="radio" name="error_code" id="employee_forgot_phone" value="option2">
						  <label class="form-check-label" for="exampleRadios2">
							Employee forgot phone
						  </label>
						</div>
						<div class=" col-12 form-check">
						  <input class="form-check-input" type="radio" name="error_code" id="other" value="option2">
						  <label class="form-check-label" for="exampleRadios2">
							Other
						  </label>
						</div>
													
					</div>
					
					</form>
					
				
			 <hr>
			
			 
			 <div id="div_info" class="p-2 I-have-read-the-term">
			Please fill all details to submit
		</div>
		
			<div class="row pt-10">
				<div class="col-12">
					<button onclick="show()" class="btn btn-block Rectangle"> SUBMIT </button>	
				</div>

				
			</div>
</div>		
<!-- Modal -->
<div class="modal fade" id="error_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	 <div class="modal-header bg-primary">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
		   <img src="/static/img/info.svg" height="200px" class="rounded mx-auto d-block" alt="...">
      </div>
      <div class="modal-body">
     
		<div class="pt-3 tx-black alert alert-primary" role="alert" >
		No person found with this contact number. Please recheck contact number.
		</div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
	
<!--High Temp Modal -->
<div class="modal fade" id="temp_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	 <div class="modal-header bg-danger">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
			<img src="/static/img/reject.svg" height="200px" class="rounded mx-auto d-block" alt="...">	
      </div>
      <div class="modal-body">
        <div class="p-2 tx-black alert alert-danger" role="alert"> 
		Temperature entered is above 100 Fahrenheit !! 
		</div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>	


<!--Accept Modal -->
<div class="modal fade" id="ok_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	 <div class="modal-header bg-teal">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
		    <img src="/static/img/accept.svg" height="200px" class="rounded mx-auto d-block" alt="...">
      </div>
      <div class="modal-body">
    	<div class="p-2 tx-black alert alert-success" role="alert"> 
		Temperature is OK. Have a nice day !
		</div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-teal" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>	
	
		
<script> 
var socket=io.connect('http://'+document.domain+":"+location.port);
//socket.emit("Manual Security Page");
</script>
<script>    
function show()
{
console.log("OK");
var number = document.getElementById("number").value;
var temperature_send = document.getElementById("temperature1").value;
var temp_float = parseFloat(temperature_send);

if (number.length != 10){
document.getElementById("div_info").innerHTML = "Please enter accurate number!";
} 
else if (temperature_send == ""){
	document.getElementById("div_info").innerHTML = "Please enter accurate temperature in Celsius";	
}
else if( isNaN(temp_float)){
	document.getElementById("div_info").innerHTML = "Please enter accurate temperature in Celsius";
}
else {
	document.getElementById("div_info").innerHTML = "Verifying . . .";
	var mask = 0;
	 if (document.getElementById('mask').checked) {
			mask = 'yes';
		}
	else {
		mask = "no";
	}
	var error = 0;
	 if (document.getElementById('qrscan_not_working').checked) {
			error = 'qrscan_not_working';
		}

	 if (document.getElementById('employee_forgot_phone').checked) {
			error = 'employee_forgot_phone';
		}

	if (document.getElementById('other').checked) {
			error = 'other';
		}
	console.log(error);


	var data ={
		"number" : number,
		"temperature": temp_float,
		"mask":mask,
		"error":error,
	}

	socket.emit("manual_security",data);
	console.log(data);
	 
} 
 }	 

socket.on("manual_scurity_status",function(data){
 console.log(data);
 document.getElementById("div_info").innerHTML = "";
 if (data == "not_a_person"){
 $('#error_modal').modal('show');
 }
if (data == "temp_high"){
 $('#temp_modal').modal('show');
 }
if (data == "temp_ok"){
 $('#ok_modal').modal('show');
 }

 
 });



</script>
		
		</div>
		</div>
		</div>
	</div>
     
 

{% endblock %}


   


      
  
  
