<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">
<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
  <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="Cyronics">

    <title>Workplace Security</title>

    
	<link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">


	</head>

  <body>

    <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v bg-primary">

      <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal"><img src="/static/img/grey_logo.svg" width="60%"></span></div>
        <div class="tx-center mg-b-30">Ensuring Workplace Safety</div>
		
		<div class="tx-dark row">
			<div class="col-12 text-center">Organisation ID  : Master</div>
			
		</div>
		
        <div class="form-group">
          <input type="text"  id="phone" class="form-control" placeholder="Enter Master Username" value={{ phone }}>
        </div><!-- form-group -->
        <div class="form-group">
          <input type="password" id="password" class="form-control" placeholder="Enter Master password" value={{ password }}>
         
        </div><!-- form-group -->
		
	
		
		<div  id ="error" class="tx-danger tx-14"></div>
		<div  id ="success" class="tx-primary tx-14"></div>
		
        <button onclick="relocate_signup()" class="btn btn-warning btn-block">Sign In</button>

	 </div><!-- login-wrapper -->
	 
    </div><!-- d-flex -->

   
	<script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/highlightjs/highlight.pack.js')}}"></script>
    <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>
	<script>
function relocate_signup()
{
	data={
	"phone":document.getElementById("phone").value,
	"password":document.getElementById("password").value,
	}
	console.log(data);
	socket.emit("master_login_credentials",data);
    
} 

</script>

<script>
var socket=io.connect('http://'+document.domain+":"+location.port)
//socket.emit("Log In")
 
 socket.on("master_credentials_validation",function(data){
 console.log(data);
 if (data == "1"){
	document.getElementById("success").innerHTML = "Login Successful !";
	document.getElementById("error").innerHTML = "";
	location.href = "/master-applications";
 } 
 
 if(data == "0"){
	document.getElementById("success").innerHTML = "";
	document.getElementById("error").innerHTML = "Please check credentials.";
 } 
 
 //  location.href = "/epass";
 
 });
</script>	
  </body>
</html>
