<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
   <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
	<meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Cyronics</title>

	<!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">

    <!----data tables-->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

	
	<!--<style>
      .goog-te-banner-frame,.custom-translate {
              display: none;
      }
      
      body {
              top: 0 !important;
          }
      .goog-tooltip {
          display: none !important;
      }
      .goog-tooltip:hover {
          display: none !important;
      }
      .goog-text-highlight {
          background-color: transparent !important;
          border: none !important; 
          box-shadow: none !important;
      }
      
      
      </style>-->

	
  </head>

  <body>

   <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo bg-primary pr-0 tx-white"> <img src="/static/img/white_logo.svg" width="90px" ></div>
    <div class="br-sideleft" >

	<hr> 
	NAVIGATION
	
	<hr> 
	
	 <div class="br-sideleft-menu" >
       
	
	
	
		<a href="/master-applications"  id="master-applications" class="br-menu-link  pt-1 pb-1">
          <div class="br-menu-item row">
              <div class="col-2"><i class="menu-item-icon fa fa-user tx-20"></i></div>
              <div class="col-10"><span class="menu-item-label">Applications</span></div>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
	
		<a href="/master-onboarding"  id="master-onboarding" class="br-menu-link  pt-1 pb-1">
          <div class="br-menu-item row">
              <div class="col-2"><i class="menu-item-icon fa fa-user tx-20"></i></div>
              <div class="col-10"><span class="menu-item-label">On-Boarding</span></div>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->

	
		<a href="/master-questions"  id="master-questions" class="br-menu-link  pt-1 pb-1">
          <div class="br-menu-item row">
              <div class="col-2"><i class="menu-item-icon fa fa-user tx-20"></i></div>
              <div class="col-10"><span class="menu-item-label">Questions</span></div>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->

	

	<hr>
	
	<center><img src="static/img/logo2.png" style="width:60%;height:70%" alt=""></center>	
	 <center><img src="static/img/c4i4logo.png" style="width:80%;height:80%" alt=""></center>

	
	  <hr>
	  <button onclick="logout()" class="btn btn-warning btn-block">Logout</button>
  
  
      </div>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header pl-0 bg-primary">
      <div class="br-header-left bg-primary">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu"  href=""><i class=" tx-white icon ion-navicon-round" ></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile"  href=""><i class="tx-white icon ion-navicon-round" ></i></a></div>
       
      </div><!-- br-header-left -->
      <div class="br-header-right">
        <div class="dropdown">
          <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
            <span class="logged-name hidden-md-down tx-black tx-6" id="user"></span>
             
			
			 <!--<img src="/static/img/white_logo.svg" width="90px">-->
			 <!--<img src="/static/img/kpcl.png" width="30px" >	-->		 
			
			<div class="row" class="d-flex content-align-center">
        <img src="/static/img/white_logo.svg" width="90px">&nbsp;&nbsp;
       <span id="google_translate_element" class="pd-x-20"></span>
      </div>

			
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-200">
            <ul class="list-unstyled user-profile-nav">
            
    
            </ul>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
       </div>
     
    </div><!-- br-sideright -->
    <!-- ########## END: RIGHT PANEL ########## --->
    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
	<div class="ht-1 bd bg-gray-100 pd-x-15 d-flex align-items-center justify-content-between mg-t-20">
    </div><!-- ht-65 -->

      <div class="br-pagebody">
<!--google translate script -->
<!--<script type="text/javascript" 
 src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
</script>-->
<!--<script>
document.getElementById("google_translate_element").addEventListener('change',function(){
     lang = document.getElementById(":0.targetLanguage").getElementsByTagName("select")[0].selectedIndex
     a = document.querySelector("#google_translate_element select");
        a.selectedIndex=lang;
        a.dispatchEvent(new Event('change'));
}) 
function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
</script> --> 


	  
	  <script src="{{url_for('static',filename='socket.js')}}"></script>   
    <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>

    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>                  
    
	<script src="{{ url_for('static', filename='echarts_js/echarts.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/echarts-gl.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/ecStat.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/dataTool.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/china.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/bmap.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/simplex.js')}}"></script> 
    <script type="text/javascript" src="http://www.gstatic.com/charts/loader.js"></script>
	
	<script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>   

    <!---------data_tables-->
    <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.15/api/row().show().js"></script>

    <!--<script src="//code.jquery.com/jquery-3.5.1.js"></script>-->
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>


    <!--custom script -->
	
<script type="text/javascript">

console.log( '{{ active_page }}' );

var element = document.getElementById('{{ active_page }}');
if(element){
	element.classList.add("active");
} 
</script>	

<script>
function logout(){
socket.emit("master_logout");
console.log('logout');
location.href = "/masterlogin";

}

</script>	  
       {% block content %}
	   
	   
	   {% endblock %}
	
    <!-- ########## END: MAIN PANEL ########## -->
  </div>
  <footer class="br-footer">
    <div class="footer-left">
      <div class="mg-b-2">Presented by Cyronics.</div>
     
     
    </div>
   
  </footer>
	</div>
	   
	
       





	   </body>
</html>
