{% extends "master-template.html" %}
{% block content %}


<div class="row no-gutters  mg-t-10 justify-content-end">
  
  <button class="btn btn-primary btn-sm " onclick="download_csv()">Export CSV</button>&nbsp;&nbsp;
  
    <div class="col-sm-12 col-lg-12 mg-t-10">
      <div class="card">
          <div class="card-header tx-black tx-bold tx-uppercase">
            APPLICATION 
          </div><!-- card-header -->
          <div class="card-body ht-lg-450" style="overflow: scroll;">
          <div class="row">
          <div class="col-12">

            <table id="example" class="display text-dark"></table>

          </div>
          </div>   
          </div>
      </div>
    </div>
</div> 


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="tx-black">
                <div class="pt-1 pb-1">
                    Do you have any of the following ?
                    </div>
                  <div class="form-check pl-4 ">
                    <input type="checkbox" class="form-check-input" id="heart"  disabled="disabled">
                    <label class="form-check-label" for="heart">Heart Problems</label>
                  </div>
                   <div class="form-check pl-4 ">
                    <input type="checkbox" class="form-check-input" id="respiratory"  disabled="disabled">
                    <label class="form-check-label" for="respiratory">Respiratory Problems</label>
                     </div>
                     <div class="form-check pl-4 ">
                    <input type="checkbox" class="form-check-input" id="bp"  disabled="disabled">
                    <label class="form-check-label" for="bp">Blood Pressure</label>
                     </div>
                     <div class="form-check pl-4 ">
                    <input type="checkbox" class="form-check-input" id="diabetes"  disabled="disabled">
                    <label class="form-check-label" for="diabetes">Diabetes</label>
                     </div>
                     <div class="form-check pl-4 ">
                    <input type="checkbox" class="form-check-input" id="none"  disabled="disabled">
                    <label class="form-check-label" for="none">None of the above</label>
                     </div>
                    </form>
                    
                    <hr>
                    <form class="tx-black">
                <div class="pt-1 pb-1">
                    Do you have family members below 10 years of age or greater 65 years of age?
                    </div>
                  <div class="form-check pl-4 ">
                    <input  class="form-check-input" type="radio" name="exampleRadios" id="yes_age"  disabled="disabled">
                    <label class="form-check-label" for="yes_age">Yes </label>
                  </div>
                   <div class="form-check pl-4 ">
                    <input  class="form-check-input" type="radio" name="exampleRadios" id="no_age" disabled="disabled" >
                    <label class="form-check-label" for="no_age"> No</label>
                     </div>
                    
                    </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<script>
var socket=io.connect('http://'+document.domain+":"+location.port)




var main_array=[]
socket.on("master_application",function(dataSet){
  console.log("data here");
  console.log(dataSet);
  for(var k =0;k<dataSet.length;k++){
   sub_array=[]
   sub_array.push(dataSet[k][0]) 
   sub_array.push(dataSet[k][1])
   
  sub_array.push(dataSet[k][2])
	
   full_string=dataSet[k][3]
   /*if(full_string.includes("selected disabled> Admin </option>")){
     console.log("Admin");
   }*/
   sub1=full_string.split('disabled>')
   sub2=sub1[1].split('</option>');
   sub_array.push(sub2[0]);
   
   full_string=dataSet[k][4]
   /*if(full_string.includes("selected disabled> Admin </option>")){
     console.log("Admin");
   }*/
   sub1=full_string.split('disabled>')
   sub2=sub1[1].split('</option>');
   sub_array.push(sub2[0]);

   full_string_button=dataSet[k][6]
   full1=full_string_button.split('</button')
   full2=full1[0].split('>')
   sub_array.push(full2[1]);
   
   
   
   main_array.push(sub_array)

  }
  
    $('#example').DataTable({
        responsive: true,
        data: dataSet,
        destroy: true,
        columns: [
            { title: "Name" },
            { title: "Number" },
			{ title: "Organisation" },
			{ title: "Employee Type" },
            { title: "Role" },
            { title: "Details"},
            { title: "Accept/Reject" }
        ]
    });
})


$(document).ready(function() {
    socket.emit("master_application_data")
} );

$.fn.dataTableExt.sErrMode = 'throw' //this line of code to prevent warning dialog by datatable

function acc_rej(x){
    if (x.innerText == "Accepted"){
        x.setAttribute("class", "btn btn-sm btn-danger");
        x.innerText = "Rejected"
    }else{
        x.setAttribute("class", "btn btn-sm btn-success");
        x.innerText = "Accepted"
    }
    
    
    data =  x.value
    status = x.innerText
  
    socket.emit("master_change_status",[String(data),status])
}


function modal_fun(x){
    socket.emit("master_modal_application",String(x.value))
}

socket.on("master_modal_data_application",function(data){
    console.log(data)
   for(key in data){
    if(key != "yes_age"){
       if(data[key] == "yes"){
           document.getElementById(key).checked = true
       }
    }else{
        if(data[key] == "yes"){
            document.getElementById("yes_age").checked = true
        }else{
            document.getElementById("no_age").checked = true
        }
    }  
   }

})

function role_change(x){
    phone = x.getAttribute("data-phone");
    role = x.value
    socket.emit("master_updated_role",[phone,role])
}
function employee_type_change(x){
console.log("employee_type_change");
    phone = x.getAttribute("data-phone");
    role = x.value
    socket.emit("master_updated_employee_status",[phone,role])
}



console.log("main_array");
console.log(main_array);

//fun create csv file

 
function download_csv() {
    var csv = 'Name,Number,Role,Accept/Reject\n';
    main_array.forEach(function(row) {
            csv += row.join(',');
            csv += "\n";
    });
 
    //console.log(csv);
    var hiddenElement = document.createElement('a');
    hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
    hiddenElement.target = '_blank';
    hiddenElement.download = 'Application.csv';
    hiddenElement.click();
}

</script>

{% endblock %}