{% extends "template.html" %}
{% block content %}

<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }


  .CARD_HEADER_FONT {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.93px;
    text-align: center;
    color: var(--windows-blue);
  }

  .Rectangle {

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.75px;
    text-align: center;
    color: var(--white);
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 #b9b9b9;
    background-color: var(--windows-blue);

  }

  .Rectangle-dark {

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.75px;
    text-align: center;
    color: var(--white);
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 #b9b9b9;
    background-color: var(--metallic-blue);

  }

  
  
  .Alert-font {
    font-family: Manrope;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: 0.38px;
    color: var(--dusk-blue);
  }

  .form-control.base {
    border-radius: 5px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
    background-color: #fbfbfb;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--windows-blue)
  }

  .form-control.base::-webkit-input-placeholder {
    font-family: Manrope;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--windows-blue);
    border: none;
  }

  table.dataTable thead {
    background-color: var(--dusk-blue);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: 0.38px;
    color: var(--white);
  }


  table.dataTable tbody,table.dataTable select{
    width: 136px;
    height: 11px;
    font-family: Manrope;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.33px;
    color: var(--windows-blue);
  }

  div.dataTables_filter label,div.dataTables_length label,div.dataTables_length select,div.dataTables_info,div.dataTables_paginate,div.dataTables_paginate_button,table.dataTables{
    font-family: Manrope;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.33px;
    color: var(--windows-blue);
  }

 .Have-you-experien {

	font-family: Manrope;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.14;
	letter-spacing: 0.38px;
	color: #28499f;

}

.Have-you-experien-bold {

	font-family: Manrope;
	font-size: 12px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.14;
	letter-spacing: 0.38px;
	color: #28499f;

}

.form-control.base {
  border-radius: 5px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  background-color: #fbfbfb;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--windows-blue)
  
  }

.form-control.base::-webkit-input-placeholder {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--light-sky-blue)
  border:none;
}

.dataTables_filter { display: none; }


table.dataTable.no-footer {
        border-bottom: 0 !important;
    }
	
	
</style>




<div class="row no-gutters  mg-t-10 justify-content-end">

  
  <div class="col-sm-12 col-lg-12 mg-t-10">
    <div class="card">
      <div class="card-header CARD_HEADER_FONT">
        COMPOSE NOTIFICATION
      </div><!-- card-header -->
	  
	  
	  
	  <div class="card-body" >
	  
	  
	  <div class="form-group">
		  <label for="comment" class="Have-you-experien-bold">NOTIFICATION CONTENT</label>
		  <textarea class="form-control base" rows="3" id="comment"></textarea>
	  </div>
			  
	  
	  <hr>
	  <label class="Have-you-experien-bold">MODE</label>
	  <div class="row pd-l-35 pd-r-15 ">
			<div class="form-check ">
			  <input class="form-check-input" type="checkbox" id="sms_option" value="option1">
			  <label class="form-check-label Have-you-experien" for="sms_option"> SMS </label>
			</div>
		</div>
	<div class="row pd-l-35 pd-r-15 ">
		
		<div class="form-check ">
			  <input class="form-check-input" type="checkbox" id="app_option" value="option1">
			  <label class="form-check-label Have-you-experien" for="app_option"> Notification </label>
			</div>
	</div>
	  <hr>
	  <div class="container m-0 p-0">
  
 	 
	 <div class="container m-0 p-0">
  <div class="d-flex">
    <div class="p-0"><label class="Have-you-experien-bold">RECIPIENTS</label></div>
    <div class="p-0 ml-auto"><button class="btn btn-sm Rectangle " id="select_button" onclick="select_all()">SELECT ALL</button></div>
  </div>
</div>

	
	  
	  
		

	<!-- ====================================================================================================================== -->
		<div class="row pd-10">
			<div class="input-group mb-3">
			<div class="input-group-prepend">
			<span class="input-group-text"><button type="button" class="btn" style="color: #28499f;" ><i class="fa fa-search" aria-hidden="true" ></i></button> </span>
			</div>
			<input type="text" class="form-control base" id="searchFilter" placeholder="SEARCH">
			</div>
	  </div>
	  
	  <!-- ====================================================================================================================== -->
	  	  
		
		
		<div class="row" style="overflow: auto;">
          <div class="col-12">

            <table id="example" class="display text-dark" style="width:100%"></table>


          </div>
        </div>
		
		<hr>
		
		<button type="button" class="btn btn-block Rectangle-dark " id="send_message" onclick="send_message()" disabled>SEND</button>
		
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="tx-black">
          <div class="pt-1 pb-1">
            Do you have any of the following ?
          </div>
          <div class="form-check pl-4 ">
            <input type="checkbox" class="form-check-input" id="heart" disabled="disabled">
            <label class="form-check-label" for="heart">Heart Problems</label>
          </div>
          <div class="form-check pl-4 ">
            <input type="checkbox" class="form-check-input" id="respiratory" disabled="disabled">
            <label class="form-check-label" for="respiratory">Respiratory Problems</label>
          </div>
          <div class="form-check pl-4 ">
            <input type="checkbox" class="form-check-input" id="bp" disabled="disabled">
            <label class="form-check-label" for="bp">Blood Pressure</label>
          </div>
          <div class="form-check pl-4 ">
            <input type="checkbox" class="form-check-input" id="diabetes" disabled="disabled">
            <label class="form-check-label" for="diabetes">Diabetes</label>
          </div>
          <div class="form-check pl-4 ">
            <input type="checkbox" class="form-check-input" id="none" disabled="disabled">
            <label class="form-check-label" for="none">None of the above</label>
          </div>
        </form>

        <hr>
        <form class="tx-black">
          <div class="pt-1 pb-1">
            Do you have family members below 10 years of age or greater 65 years of age?
          </div>
          <div class="form-check pl-4 ">
            <input class="form-check-input" type="radio" name="exampleRadios" id="yes_age" disabled="disabled">
            <label class="form-check-label" for="yes_age">Yes </label>
          </div>
          <div class="form-check pl-4 ">
            <input class="form-check-input" type="radio" name="exampleRadios" id="no_age" disabled="disabled">
            <label class="form-check-label" for="no_age"> No</label>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  var socket = io.connect('http://' + document.domain + ":" + location.port)

var select_flag = 0;



  var main_array = []
  socket.on("message_application", function (dataSet) {

    console.log("correct");

    console.log("data here");
    console.log(dataSet);
    for (var k = 0; k < dataSet.length; k++) {
      sub_array = []
      
	  sub_array.push(dataSet[k][0])
      sub_array.push(dataSet[k][1])
      sub_array.push(dataSet[k][2])
      sub_array.push(dataSet[k][3])
      sub_array.push(dataSet[k][4])
      sub_array.push(dataSet[k][5])
      
      main_array.push(sub_array)

    }

    $('#example').DataTable({
      responsive: true,
      data: dataSet,
      destroy: true,
	   
      columns: [
        { title: "Name" },
        { title: "Number" },
        { title: "Role" },
        { title: "Application Type" },
        { title: "Violataions Today" },
        { title: "All Violations" },
		
		
      ],
		scrollX:        true,
        scrollCollapse: true,
        paging:         true,
        fixedColumns:   {
            leftColumns: 1,
                    },
		
	  
    });

$('#example tbody').on( 'click', 'tr', function () {
	$(this).toggleClass('selected');
	
	var table_a = $('#example').DataTable();	
	
	//console.log(table_a.rows( { filter : 'applied'} ).data().length);
	document.getElementById("select_button").classList.remove("Rectangle");
	document.getElementById("select_button").classList.add("Rectangle-dark");
	
	

	document.getElementById("select_button").innerHTML = "X CLEAR (" + table_a.rows('.selected').data().length + ")"
	select_flag = 1;
	
	
	//enable send if notification is not empty 
	if( document.getElementById("app_option").checked || document.getElementById("sms_option").checked ){
		//console.log("One checkbox selected !");
		
		if (document.getElementById("comment").value != "" ){
			
			document.getElementById("send_message").classList.remove("Rectangle-dark");
			document.getElementById("send_message").classList.add("Rectangle");
			document.getElementById("send_message").disabled = false;
			
			//console.log("Comment is not empty");
		}
		else{
			document.getElementById("send_message").classList.add("Rectangle-dark");
			document.getElementById("send_message").classList.remove("Rectangle");
			document.getElementById("send_message").disabled = true;
		}
	}
	else{
			document.getElementById("send_message").classList.add("Rectangle-dark");
			document.getElementById("send_message").classList.remove("Rectangle");
			document.getElementById("send_message").disabled = true;
		}
	
} );


$('#searchFilter').on( 'keyup', function () {
   var table_a = $('#example').DataTable();
   table_a.search( this.value ).draw();
} );
	
 
  })


  $(document).ready(function () {
    socket.emit("message_compose_data")
  });

  $.fn.dataTableExt.sErrMode = 'throw' //this line of code to prevent warning dialog by datatable

  

  function download_csv() {
    var csv = 'Name,Number,Role,Accept_Reject;';
    main_array.forEach(function (row) {
      csv += row.join(',');
      csv += ";";
    });

    //console.log(csv);
    var hiddenElement = document.createElement('a');
    hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
    hiddenElement.target = '_blank';
    hiddenElement.download = 'Attendance.csv';
    hiddenElement.click();
  }


function get_selected_data(){
 var table = $('#example').DataTable();
alert( table.rows('.selected').data().length +' row(s) selected' );

}

function select_all(){

if (select_flag == 0 ) {
var table = $('#example').DataTable();
//table.rows(  ).select()
//table.rows({ search: 'applied'}).select();

table.rows({ search: 'applied'}).nodes().each(function() {
       $(this).addClass('selected');        
     })

select_flag = 1 ; 
	document.getElementById("select_button").classList.remove("Rectangle");
	document.getElementById("select_button").classList.add("Rectangle-dark");
	document.getElementById("select_button").innerHTML = "X CLEAR ALL"
	
	
	//enable send if notification is not empty 
	if( document.getElementById("app_option").checked || document.getElementById("sms_option").checked ){
		//console.log("One checkbox selected !");
		
		if (document.getElementById("comment").value != "" ){
			
			document.getElementById("send_message").classList.remove("Rectangle-dark");
			document.getElementById("send_message").classList.add("Rectangle");
			document.getElementById("send_message").disabled = false;
			
			//console.log("Comment is not empty");
		}
		else{
			document.getElementById("send_message").classList.add("Rectangle-dark");
			document.getElementById("send_message").classList.remove("Rectangle");
			document.getElementById("send_message").disabled = true;
		}
	}
	else{
			document.getElementById("send_message").classList.add("Rectangle-dark");
			document.getElementById("send_message").classList.remove("Rectangle");
			document.getElementById("send_message").disabled = true;
		}
	
	
}

else if (select_flag == 1){
var table = $('#example').DataTable();

	table 
    .rows( '.selected' )
    .nodes()
    .to$() 
    .removeClass( 'selected' );

	document.getElementById("select_button").classList.add("Rectangle");
	document.getElementById("select_button").classList.remove("Rectangle-dark");
	document.getElementById("select_button").innerHTML = "SELECT ALL"
	select_flag = 0;
	
	document.getElementById("send_message").classList.add("Rectangle-dark");
	document.getElementById("send_message").classList.remove("Rectangle");
	document.getElementById("send_message").disabled = true;
			
	
	}
//console.log(table.rows( { filter : 'applied'} ).data());   
}  
 
$("input").change(function() {
  console.log("Input text changed!");

  console.log("Select Flag "+ select_flag);

  if( select_flag == 1){
  //enable send if notification is not empty 
	if( document.getElementById("app_option").checked || document.getElementById("sms_option").checked ){
		//console.log("One checkbox selected !");
		
		if (document.getElementById("comment").value != "" ){
			
			document.getElementById("send_message").classList.remove("Rectangle-dark");
			document.getElementById("send_message").classList.add("Rectangle");
			document.getElementById("send_message").disabled = false;
			
			//console.log("Comment is not empty");
			
		}
		else{
			document.getElementById("send_message").classList.add("Rectangle-dark");
			document.getElementById("send_message").classList.remove("Rectangle");
			document.getElementById("send_message").disabled = true;
		}
	}
	else{
			document.getElementById("send_message").classList.add("Rectangle-dark");
			document.getElementById("send_message").classList.remove("Rectangle");
			document.getElementById("send_message").disabled = true;
		}
	
	}
  
  });

$("#comment").on('change keyup paste', function() {
    // your code here
	console.log("Text Area text changed!");
	
	 console.log("Select Flag "+ select_flag);

	if( select_flag == 1){
  //enable send if notification is not empty 
	if( document.getElementById("app_option").checked || document.getElementById("sms_option").checked ){
		//console.log("One checkbox selected !");
		
		if (document.getElementById("comment").value != "" ){
			
			document.getElementById("send_message").classList.remove("Rectangle-dark");
			document.getElementById("send_message").classList.add("Rectangle");
			document.getElementById("send_message").disabled = false;
			
			//console.log("Comment is not empty");
			
		}
		else{
			document.getElementById("send_message").classList.add("Rectangle-dark");
			document.getElementById("send_message").classList.remove("Rectangle");
			document.getElementById("send_message").disabled = true;
		}
	}
	else{
			document.getElementById("send_message").classList.add("Rectangle-dark");
			document.getElementById("send_message").classList.remove("Rectangle");
			document.getElementById("send_message").disabled = true;
		}
	
	}
	
	
});



function send_message(){

 var table = $('#example').DataTable();
 to_send = {}
 to_send['message_body'] = document.getElementById("comment").value ;
 
 
 if (document.getElementById("sms_option").checked ){
 to_send['sms'] = "true"
 }
 else { 
 to_send['sms'] =  "false"
 }
 
 if (document.getElementById("app_option").checked ){
 to_send['app'] = "true"
 }
 else { 
 to_send['app'] =  "false"
 }
 
 
 
var ids = jQuery.map(table.rows('.selected').data(), function (item) {
    return item[1];
});
 console.log(ids);


to_send["numbers"] = ids;
socket.emit("composed_message",to_send);

}
  
</script>

{% endblock %}