<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">
<!--    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->

 <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Workplace Security</title>

    
	<link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}"> 

	<style>
	
	
:root {
  --windows-blue: #365ec8;
  --bluish: #3091c9;
  --warm-blue: #5460dc;
  --white: #ffffff;
  --dusk-blue: #28499f;
  --bluey-grey: #85a5c2;
  --light-sky-blue: #d4e3f0;
  --lipstick: #bb166b;
  --bluish-grey-20: rgba(115, 137, 156, 0.2);
  --topaz: #16b8bb;
  --aquamarine: #00d7af;
  --metallic-blue: #546593;
  --bluish-grey: #73899c;
  --very-light-pink: #d7d7d7;
  --gray-medium: rgba(205, 205, 210, 0.5);
  --text: #77777a;
  ---style: #002251;
}

.Rectangle {
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--white);
}

.Rectangle-disabled {
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--metallic-blue);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--white);
}
	
.dark_backgorund {

  opacity: 0.89;
  background-image: linear-gradient(to bottom, #3b76ef 0%, #211b4e 100%);
  mix-blend-mode: multiply;
 background-color: #6e6e6e;
 
}

.FORGOT-YOUR-PASSWORD {
  width: 160px;
  height: 36px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.87px;
  text-align: center;
  color:#365ec8 ;
  margin: auto;
  
}

.Message_Text{

  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: var(--metallic-blue);

}


.transparent-input-blue {
   background-color: rgba(0, 0, 0, 0);
   border:none;
  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--white);

   }
   
   
.div_bottom_border-blue{
	background-color: rgba(0, 0, 0, 0);
	border:none;
	border-bottom: 2px solid  var(--white);
	font-family: Manrope;
	  font-size: 12px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: normal;
	  letter-spacing: 1.5px;
	  color: var(--white);
		
}   
      
input[readonly].transparent-input-blue{
	background-color:transparent;
	border:none;
	font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--white);
	
	
}
.form-control.transparent-input-blue:focus {
	background-color:transparent;
 font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--white);
	
}


.form-control.transparent-input-blue::-webkit-input-placeholder {
  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--light-sky-blue);
}




.transparent-input {
   background-color: rgba(0, 0, 0, 0);
   border:none;
  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--windows-blue);

   }
   
   
.div_bottom_border{
	background-color: rgba(0, 0, 0, 0);
	border:none;
	border-bottom: 2px solid  var(--windows-blue);
	font-family: Manrope;
	  font-size: 12px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: normal;
	  letter-spacing: 1.5px;
	  color: var(--windows-blue);
		
}   
      
input[readonly].transparent-input{
	background-color:transparent;
	border:none;
	font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--windows-blue);
	
	
}
.form-control:focus {
	background-color:transparent;
 font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--windows-blue);
	
}

.transparent-input-bottom {
  
  background-color: rgba(0, 0, 0, 0);
   border:none;
   border-bottom: 2px solid  var(--windows-blue);
	  font-family: Manrope;
	  font-size: 12px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: normal;
	  letter-spacing: 1;
	  color: var(--windows-blue);

   }
   



.Please-confirm-your {
  width: 197px;
  height: 34px;
  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: var(--metallic-blue);
   margin: auto;
}


.Placeholder-Copy-2 {
  
  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.45px;
  text-align: center;
  color: var(--windows-blue);
}

.Still-having-trouble {
  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: var(--metallic-blue);
}
.Still-having-trouble-1 {
  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: var(--windows-blue);
  margin:auto;

  }

.RESET-YOUR-PASSWORD {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.87px;
  text-align: center;
  color: var(--white);
}

.Please-use-a-minimum {
  font-family: Manrope;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}


.Support-FAQ {
  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: var(--white);
}


.Terms-Conditions {
  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: var(--white);
}



.WEAK {
  font-family: Manrope;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ff60ac;
}
.strong {
  font-family: Manrope;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--aquamarine);
}
	
	
	
	
	</style>
	
	
	
	
	
	
	
	
	</head>

  <body style="background-image: linear-gradient(to bottom, #3b76ef 0%, #211b4e 100%);">
<div class="d-flex align-items-center justify-content-center ht-100v "  >
		
		
      <div class="login-wrapper wd-300 wd-xs-350  ">
        <div class="pd-25  pd-xs-40">
		<div class="signin-logo tx-center tx-28 tx-bold tx-inverse pd-b-20"><span class="tx-normal"><img src="/static/img/logo-small.png" width="60%"></span></div> 
      
		<div class="RESET-YOUR-PASSWORD p-2">
		RESET YOUR PASSWORD
		</div>

		<div class="Please-use-a-minimum p-2">
		Please use a minimum of 8 characters, one special character and one number
		</div>
			
			<div class="input-group mb-3 pl-2 pr-2 div_bottom_border-blue pt-5">
			<input type="text" id="password" class="form-control transparent-input-blue"  placeholder="Your New Password">
			  <div class="input-group-append">
				<button class="btn transparent-input-blue WEAK"  id="password_status" "type="button"></button>
			  </div>
			</div>
			
			
			<div class="input-group mb-3 pl-2 pr-2 div_bottom_border-blue ">
			<input type="password" id="verify_password" class="form-control transparent-input-blue"  placeholder="Confirm Password">
			 <div class="input-group-append">
				<button class="btn transparent-input-blue" id="verify_password_status" type="button"></button>
			  </div>
			</div>
			
			<!--<div class="form-group">
			  <input type="password" id="password" class="form-control" placeholder="Enter new password">
			</div> <!-- form-group -->
			
			<!--<div class="form-group">
			  <input type="password" id ="verify_password" class="form-control" placeholder="Verify new password">
			</div> <!-- form-group -->
			
		</div>
	<button onclick="reset()" id="reset_password_button" class="btn btn-block  Rectangle-disabled" disabled>SAVE NEW PASSWORD</button>
		
		<div  id ="success"></div>
		<div  id ="error" ></div>
			 
        
		 <a href="/" class="tx-12 d-block mg-t-60  Support-FAQ "><u>Support and FAQ</u></a> 
		
		 <a href="/" class="tx-12 d-block mg-t-15  Terms-Conditions "><u>Terms and Conditions</u></a> 
	 
	
	</div><!-- login-wrapper -->
	 
	 
	 
    </div><!-- d-flex -->

   
	<script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/highlightjs/highlight.pack.js')}}"></script>
    <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>

<script>
 //======================================
function CheckPassword(password) 
{ 
var paswd=  /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,15}$/;
if(password.match(paswd)) 
{ 
//alert('Correct, try another...')
return true;
}
else
{ 
//alert('Wrong...!')
return false;
}
}  


//=========================================== 
 

</script>	

<script>

var original_password = document.getElementById("password");
var original_verify_password = document.getElementById("verify_password");
 
var password_Status = "WEAK";
original_password.onkeyup = function() {

var original_password_check = CheckPassword(original_password.value) ; 
if( original_password_check == false){
	document.getElementById("password_status").classList.remove("strong");
	document.getElementById("password_status").classList.add("WEAK");
	document.getElementById("password_status").classList.add("p-2");
 	document.getElementById("password_status").innerHTML = "WEAK";
 }
 else{
	document.getElementById("password_status").classList.remove("WEAK");
 	document.getElementById("password_status").classList.add("strong");
	document.getElementById("password_status").classList.add("p-2");
 	document.getElementById("password_status").innerHTML = "STRONG";
	password_Status = "STRONG";
 
 }
}
var verify_password_Status = "WRONG";
original_verify_password.onkeyup = function() {

if (original_verify_password.value != original_password.value) {
	document.getElementById("verify_password_status").classList.remove("strong");
	document.getElementById("verify_password_status").classList.add("WEAK");
	document.getElementById("verify_password_status").classList.add("p-2");
 	document.getElementById("verify_password_status").innerHTML = "WRONG";
 }
 else{
	document.getElementById("verify_password_status").classList.remove("WEAK");
 	document.getElementById("verify_password_status").classList.add("strong");
	document.getElementById("verify_password_status").classList.add("p-2");
 	document.getElementById("verify_password_status").innerHTML = "MATCHED";
	verify_password_Status = "MATCHED";
 }
 
 console.log(verify_password_Status); 
 if ( verify_password_Status == "MATCHED" && password_Status == "STRONG" ) {
	console.log("Correct Loop");
	document.getElementById("reset_password_button").classList.remove("Rectangle-disabled");
 	document.getElementById("reset_password_button").classList.add("Rectangle");
	document.getElementById("reset_password_button").disabled = false;
 
 }
 
 
}



</script>

	
	<script>
function reset()
{
 var password = document.getElementById("password").value;
 var verify_password = document.getElementById("verify_password").value;
 var password_check = CheckPassword(password) ; 
 if (password != verify_password){
	error.innerHTML = "Passwords do not match"
 }
 else if( password_check == false){
 
 	error.innerHTML = "Password must be  between 7 to 15 characters which contain at least one numeric digit and a special character. "

 }
 else {
 error.innerHTML = "";
 success.innerHTML = "Resetting ... ";
 socket.emit("reset_password" ,password);
 }

 } 

</script>
	<script>
var socket=io.connect('http://'+document.domain+":"+location.port)
socket.emit("Log In")

socket.on("update_pass_status",function(msg){
 console.log(msg);
 if (msg == "True"){
	 document.getElementById("error").innerHTML ="";
	 
	 document.getElementById("success").classList.add("Please-use-a-minimum");
	 document.getElementById("success").classList.add("p-2");
	 
	 document.getElementById("success").innerHTML = "Password Updated !";
	 
	 var delayInMilliseconds = 500; //1 second
	 var delayInMilliseconds = 500; //1 second
	 var delayInMilliseconds = 500; //1 second

		setTimeout(function() {
		  //your code to be executed after 1 second
		  location.href = "/login";
		}, delayInMilliseconds);
	 
	 
	 
 }
else{
document.getElementById("success").innerHTML="";

	 document.getElementById("error").classList.add("Please-use-a-minimum");
	 document.getElementById("error").classList.add("p-2");
	 
    document.getElementById("error").innerHTML = "Unuccessful. Please check credentials.";

} 
 
 });

</script>
  </body>
</html>
