{% extends "template.html" %}

{% block content %}

       
	<div class="row no-gutters  mg-t-10">
		<div class="col-sm-12 col-lg-12">
          <div class="card">
              <div class="card-header tx-black tx-bold tx-uppercase">
                NOTIFICATION HISTORY 
              </div><!-- card-header -->
              <div class="card-body" >
			
					
		<div class="alert alert-info" role="alert">
			  <h4 class="alert-heading"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> You do not have any notification history.</h4>
			  <hr>
			  <br> Notifications will appear here.
			</div>
			
			
		</div>
		</div>
		</div>
	</div>
        
{% endblock %}



      
  
  
