{% extends "template.html" %}

{% block content %}


<style>

:root {
  --windows-blue: #365ec8;
  --bluish: #3091c9;
  --warm-blue: #5460dc;
  --white: #ffffff;
  --dusk-blue: #28499f;
  --bluey-grey: #85a5c2;
  --light-sky-blue: #d4e3f0;
  --lipstick: #bb166b;
  --bluish-grey-20: rgba(115, 137, 156, 0.2);
  --topaz: #16b8bb;
  --aquamarine: #00d7af;
  --metallic-blue: #546593;
  --bluish-grey: #73899c;
  --very-light-pink: #d7d7d7;
  --gray-medium: rgba(205, 205, 210, 0.5);
  --text: #77777a;
  ---style: #002251;
}
	
	
.CARD_HEADER_FONT {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.93px;
  text-align: center;
  color: var(--windows-blue);
}
.Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
  .Alert-font {
  font-family: Manrope;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.61;
  letter-spacing: 0.38px;
  color: var(--dusk-blue);
}

.Have-you-experien {

	font-family: Manrope;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.14;
	letter-spacing: 0.38px;
	color: #28499f;

}

.YES {
								
								font-family: Manrope;
								font-size: 12px;
								font-weight: normal;
								font-stretch: normal;
								font-style: normal;
								line-height: 0.92;
								letter-spacing: 0.5px;
								color: #546593;
								background-color: ;
								}

.Oval-Copy {
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--bluish-grey-20);
}

.I-have-read-the-term {
  font-family: Manrope;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.3px;
  color: var(--dusk-blue);
}
.form-control.base {
  border-radius: 5px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  background-color: #fbfbfb;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--windows-blue)
  
  }

.form-control.base::-webkit-input-placeholder {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  
   border:none;
}

.hr_style {
 
  background-color : var(--windows-blue)
  
  }

	</style>
 
 
<div class="row no-gutters  mg-t-10 justify-content-end">
    <div class="col-sm-12 col-lg-12 mg-t-10">
      <div class="card">
          
		   <div class="tx-12   CARD_HEADER_FONT">
             QUESTION SETTINGS
          </div><!-- card-header -->
		  
		  <div class="card-body"  id="card_body_html">
			
			
			
			
			  
			
          </div>
		 
      </div>
    </div>
</div> 


<script>

var global_dataset = [];
var socket=io.connect('http://'+document.domain+":"+location.port)

socket.emit("get_oid_questions");

socket.on("sent_oid_questions",function(dataSet){
  console.log("data here");
  
	
	global_dataset = dataSet;
    inner_html = "";
	for(var question_counter=0 ; question_counter < dataSet.length ; question_counter++){
	  
	  var data = dataSet[question_counter]['question'];
	  //console.log(data);
	
	  
	  if(data['type']=='Options'){
		
		number = question_counter +1 ;
		inner_html += '<div class="form-group ">' ; 
		inner_html += '<label for="scan_unit" class="Have-you-experien">'+ number  + ". " + data['que'] + '</label>' ;
		
		for (var i= 0;i<data['options'].length ; i++){
		
		inner_html += '<div class="form-check pl-5">' ;
		if (data["correct/better_option"] == data['options'][i]){	
			inner_html += '<input class="form-check-input '+data['q_id'] +'" type="radio" name="'+data['q_id'] +'" value="'+data['options'][i] +'" checked> ';	
		}
		else {
			inner_html += '<input class="form-check-input '+data['q_id'] +'" type="radio" name="'+data['q_id'] +'" value="'+data['options'][i] +'" > ';
		}
		inner_html += '<label class="form-check-label Have-you-experien"> '+ data['options'][i]  ; 
		inner_html += '</label>' ; 
		inner_html += '</div>' ;
		
		}
		inner_html += '<hr >' ;
		inner_html += '</div>'; 
		
		inner_html += '<div class="form-check pl-5">';
		if ( data['Daily_declaration'] == "yes" ) {
		inner_html += '<input class="form-check-input ' + data['q_id'] + '_daily" type="checkbox" value="" checked>';
		}
		else {
		inner_html += '<input class="form-check-input ' + data['q_id'] + '_daily" type="checkbox" value="" >';
		}
		
		inner_html += '<label class="form-check-label Have-you-experien" >';
		
		
		inner_html += 'Daily Declaration';
		inner_html += '</label>';
		inner_html += '</div>';
		
		inner_html += '<div class="form-check pl-5">';
		
		if ( data['sign_up'] == "yes" ) {
		inner_html += '<input class="form-check-input ' + data['q_id'] + '_sign_up" type="checkbox"  value="" checked>';
		}
		else{
		inner_html += '<input class="form-check-input '+ data['q_id'] + '_sign_up" type="checkbox" value="" >';
		
		}
		
		inner_html += '<label class="form-check-label Have-you-experien" >';
		inner_html += 'Sign Up Question';
		inner_html += '</label>';
		inner_html += '</div>';
		inner_html += '</div>';
		inner_html += '<hr class="hr_style" >' ;

		}
	  
	  else if(data['type']=='Single Entry'){
		
		 number = question_counter +1 ;
		inner_html += '<div class="form-group ">' ; 
		inner_html += '<label for="scan_unit" class="Have-you-experien">'+ number  + ". " + data['que'] + '</label>' ;
		
		inner_html += '<div class="form-group">' ;
		inner_html += '<input type="text" class="form-control" id="'+ data['q_id']+' ">' ; 
		inner_html += '</div>';
		
		inner_html += '<hr >' ;
		inner_html += '</div>'; 
		
		inner_html += '<div class="form-check pl-5">';
		if ( data['Daily_declaration'] == "yes" ) {
		inner_html += '<input class="form-check-input ' + data['q_id'] + '_daily" type="checkbox" value="" checked>';
		}
		else {
		inner_html += '<input class="form-check-input ' + data['q_id'] + '_daily" type="checkbox" value="" >';
		}
		
		inner_html += '<label class="form-check-label Have-you-experien" >';
		
		
		inner_html += 'Daily Declaration';
		inner_html += '</label>';
		inner_html += '</div>';
		
		inner_html += '<div class="form-check pl-5">';
		
		if ( data['sign_up'] == "yes" ) {
		inner_html += '<input class="form-check-input ' + data['q_id'] + '_sign_up" type="checkbox"  value="" checked>';
		}
		else{
		inner_html += '<input class="form-check-input '+ data['q_id'] + '_sign_up" type="checkbox" value="" >';
		
		}
		
		inner_html += '<label class="form-check-label Have-you-experien" >';
		inner_html += 'Sign Up Question';
		inner_html += '</label>';
		inner_html += '</div>';
		inner_html += '</div>';
		inner_html += '<hr class="hr_style" >' ;
		
	
		
		}
	
	  else if(data['type']=='Multiple_Options'){
		
		//console.log(data);
		
		number = question_counter + 1 ;
		inner_html += '<div class="form-group ">' ; 
		inner_html += '<label for="scan_unit" class="Have-you-experien">'+ number  + ". " + data['que'] + '</label>' ;
		
		for (var i= 0;i<data['options'].length ; i++){
		
		inner_html += '<div class="form-check pl-5">' ;
		
		
		var flag = 0; 
		for(var j=0 ; j < data["correct/better_option"].length ; j++ ) {
			if (data["correct/better_option"][j] == data['options'][i]){	
				flag = 1; 
				console.log(data["correct/better_option"][j]);
			}
		}
		
			if (flag == 1 ){	
				inner_html += '<input class="form-check-input '+data['q_id'] +'" type="checkbox" name="'+data['q_id'] +'" value="'+data['options'][i] +'" checked> ';	
				
			}
			else {
				inner_html += '<input class="form-check-input '+data['q_id'] +'" type="checkbox" name="'+data['q_id'] +'" value="'+data['options'][i] +'" > ';
			}
		
		
		inner_html += '<label class="form-check-label Have-you-experien"> '+ data['options'][i]  ; 
		inner_html += '</label>' ; 
		inner_html += '</div>' ;
		
		}
		inner_html += '<hr >' ;
		inner_html += '</div>'; 
		
		inner_html += '<div class="form-check pl-5">';
		if ( data['Daily_declaration'] == "yes" ) {
		inner_html += '<input class="form-check-input ' + data['q_id'] + '_daily" type="checkbox" value="" checked>';
		}
		else {
		inner_html += '<input class="form-check-input ' + data['q_id'] + '_daily" type="checkbox" value="" >';
		}
		
		inner_html += '<label class="form-check-label Have-you-experien" >';
		
		
		inner_html += 'Daily Declaration';
		inner_html += '</label>';
		inner_html += '</div>';
		
		inner_html += '<div class="form-check pl-5">';
		
		if ( data['sign_up'] == "yes" ) {
		inner_html += '<input class="form-check-input ' + data['q_id'] + '_sign_up" type="checkbox"  value="" checked>';
		}
		else{
		inner_html += '<input class="form-check-input '+ data['q_id'] + '_sign_up" type="checkbox" value="" >';
		
		}
		
		inner_html += '<label class="form-check-label Have-you-experien" >';
		inner_html += 'Sign Up Question';
		inner_html += '</label>';
		inner_html += '</div>';
		inner_html += '</div>';
		inner_html += '<hr class="hr_style" >' ;

		}
	
}

inner_html += ' <div class="Have-you-experien pd-2" id="master_console" ></div> '; 

//console.log(inner_html);
inner_html += ' <button type="button" onclick=get_changes() class="btn btn-secondary  btn-block Rectangle"> SAVE </button>' ;   
document.getElementById("card_body_html").innerHTML = inner_html ;
    
});

  function get_changes(){
  
  
   
   console.log(data);
  
  for(var question_counter=0 ; question_counter < ( global_dataset.length - 1 ) ; question_counter++){
    
	var data = global_dataset[question_counter]['question'];
   
	if(data['type']=='Options'){
	
	var options = document.getElementsByClassName(data['q_id']);
	//console.log(options);
	
	for(var i = 0; i < options.length; i++) {
	if(options[i].checked){
       global_dataset[question_counter]['question']["correct/better_option"] = options[i].value;
	   //console.log(global_dataset[question_counter]['question']["correct/better_option"]);
	
	   }
	}
	
	
   }
   
   if(data['type']=='Multiple_Options'){
	
	var options = document.getElementsByClassName(data['q_id']);
	
	
	temp=[]
	for(var i = 0; i < options.length; i++) {
	if(options[i].checked){
		//console.log(options[i]);
		//console.log(options[i].value);
		temp.push(options[i].value);
		}
	
	}
	
	global_dataset[question_counter]['question']["correct/better_option"] = temp;
	//console.log("------------------------------------------------------")
	//console.log(global_dataset[question_counter]['question']["correct/better_option"]);
	//console.log("------------------------------------------------------")
	
	
   }
   
   
   
    //==================================== Check for Daily / Sign Up =====================
	var use_for = document.getElementsByClassName(data['q_id']+'_daily');
	console.log(data['q_id']);
	//console.log(use_for);
	if(use_for[0].checked){
       global_dataset[question_counter]['question']["Daily_declaration"] = 'yes';
	   //console.log(global_dataset[0]['question']["Daily_declaration"])
	   }
	   else {
	   global_dataset[question_counter]['question']["Daily_declaration"] = 'no'; 
	   }
	
	var use_for = document.getElementsByClassName(data['q_id']+'_sign_up');
	//console.log(options);
	//console.log(use_for);
	if(use_for[0].checked){
       global_dataset[question_counter]['question']["sign_up"] = 'yes';
	   }
	else{
	      global_dataset[question_counter]['question']["sign_up"] = 'no';
	   
	}
	//======================================================================================
	//
	
	   
  }
 console.log(global_dataset);
 socket.emit("save_question_changes_oid", global_dataset );
 
 }
  
socket.on("master_console",function(data){
 document.getElementById("master_console").innerHTML = data ;
});
</script>

{% endblock %}