{% extends "template.html" %}

{% block content %}
	<style>

:root {
  --windows-blue: #365ec8;
  --bluish: #3091c9;
  --warm-blue: #5460dc;
  --white: #ffffff;
  --dusk-blue: #28499f;
  --bluey-grey: #85a5c2;
  --light-sky-blue: #d4e3f0;
  --lipstick: #bb166b;
  --bluish-grey-20: rgba(115, 137, 156, 0.2);
  --topaz: #16b8bb;
  --aquamarine: #00d7af;
  --metallic-blue: #546593;
  --bluish-grey: #73899c;
  --very-light-pink: #d7d7d7;
  --gray-medium: rgba(205, 205, 210, 0.5);
  --text: #77777a;
  ---style: #002251;
}
	
	
.CARD_HEADER_FONT {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.93px;
  text-align: center;
  color: var(--windows-blue);
}
.Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
  .Alert-font {
  font-family: Manrope;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.61;
  letter-spacing: 0.38px;
  color: var(--dusk-blue);
}
	
	</style>
 
      <div class="row no-gutters  mg-t-10">
        <div class="col-12 col-md-6 ">
          <div class="card">
            <div class="card-header CARD_HEADER_FONT ">
              SECURITY
            </div><!-- card-header -->
            <div class="card-body">
              <div class="row justify-content-center" id="add_image">
               <!--<video id="preview" class="ht-400 ht-md-400 ht-lg-500 bg-dark" style=""></video> -->
	        <img src="/static/img/security.svg" height="200px" class="rounded mx-auto d-block" alt="..."> 
			
        
             </div>
              <hr>

              <div class="row pt-10 pb-2">
                <div class="col-6">
                  <button type="button" onClick="showAndroidToast('Hello Android!')"   class="btn btn-block Rectangle"> START SCAN</button>
                <script>
				 function refresh_page(){
				window.location.reload();
				}
				</script>
				</div>
                <div class="col-6">
                  <button onclick="openmanual()" class="btn btn-block Rectangle"> MANUAL</button>
                </div>

		<!-- <div class="col-4">
                  <button onclick="back_tab_new1()" class="btn btn-warning btn-block"> Station </button>
                </div>
                <script>
                function back_tab_new1(){

                	var element = document.getElementById("backtab_status")
                		if (backtab == 0){

                		backtab = 1;
                		element.innerHTML = "Security Entry Station Mode ON."

                	}
                	else{

                	element.innerHTML = "Normal Scanning Mode."
                	backtab = 0;

	                }

            	}
            </script> -->



              </div>
			  
			  <div class="row justify-content-center Alert-font  pd-20">
				 QR-code based scanning for stat will work only with Android / iOS application.
			</div>

		<!-- <div class="alert alert-warning pt-2 " role="alert" id="backtab_status">

  				Security Entry Station Mode is a new feature. By default this mode is ON. Please click on station button to turn it OFF. It allows multiple scanning alerts for faster scanning process.
				
			</div> -->

              <script>
                function openmanual() {

                  location.href = "/manualsecurity";
                }


              </script>

            </div>
          </div>
        </div>
      </div>


<!-- Modal -->
<div class="modal fade" id="main_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	 <div class="modal-header bg-primary">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>

		<img src="/static/img/security.svg" height="200px" class="rounded mx-auto d-block" alt="...">
			
      </div>
      <div class="modal-body">
         				
	<!--<img src="/static/img/manual.jpg" width="100%">-->
			
				<form>
				<div class="form-group tx-black pt-2 ">
					<label for="uid">1. UID </label>
					<input type="text" class="form-control" id="uid" readonly>
			
				  </div>
		
				  <div class="form-group tx-black pt-2 ">
					<label for="temperature1">2. Visitor / Employee Temperature ( Fahrenheit )</label>
					<input type="number" class="form-control" id="temperature1" >
			
				  </div>
				<hr>
					  <div class="form-group tx-black">
						<div class= "pb-2">3. Is the visitor / employee wearing mask ?</div>
						<div class="col-12 form-check ">
						  <input class="form-check-input" type="radio" name="exampleRadios" id="mask" value="option1" checked>
						  <label class="form-check-label" for="exampleRadios1">
							Yes
						  </label>
						</div>
						<div class=" col-12 form-check">
						  <input class="form-check-input" type="radio" name="exampleRadios" value="option2">
						  <label class="form-check-label" for="exampleRadios2">
							No
						  </label>
						</div>
													
					</div>
					<hr>
			
					</form>
			 
			 <div id="div_info">
			Please fill all details to submit
		</div>
		
	  </div>
	  
	  
	  
	  
	  
      <div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		<button onclick="show()" class="btn btn-warning btn-block"> Submit </button>	
       
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="error_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	 <div class="modal-header bg-warning">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
		   <img src="/static/img/info.svg" height="200px" class="rounded mx-auto d-block" alt="...">
      </div>
      <div class="modal-body">
     
		<div class="pt-3 tx-black alert alert-warning" role="alert" >
		No person found with this UID Code.  Either the UID code has expired or it not an ANZEN UID code.
		</div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>


<!--High Temp Modal -->
<div class="modal fade" id="temp_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	 <div class="modal-header bg-danger">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
		    <img src="/static/img/reject.svg" height="200px" class="rounded mx-auto d-block" alt="...">
      </div>
      <div class="modal-body">
    	<div class="p-2 tx-black alert alert-danger" role="alert"> 
		Temperature entered is above 100 Fahrenheit !! 
		</div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>	


<!--Accept Modal -->
<div class="modal fade" id="ok_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	 <div class="modal-header bg-teal">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
			 <img src="/static/img/accept.svg" height="200px" class="rounded mx-auto d-block" alt="...">
      </div>
      <div class="modal-body">
       		
		<div class="p-2 tx-black alert alert-success" role="alert"> 
		Temperature is OK. Have a nice day !
		</div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-teal" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>	

 <script> 
var socket=io.connect('http://'+document.domain+":"+location.port);
//socket.emit("Manual Security Page");
var backtab = 1;
</script>
<script>    
function show()
{
console.log("OK");
var uid = document.getElementById("uid").value;
var temperature_send = document.getElementById("temperature1").value;
var temp_float = parseFloat(temperature_send);

if (temperature_send == ""){
	document.getElementById("div_info").innerHTML = "Please enter accurate temperature in Celsius";	
}
else if( isNaN(temp_float)){
	document.getElementById("div_info").innerHTML = "Please enter accurate temperature in Celsius";
}
else {
	document.getElementById("div_info").innerHTML = "Verifying . . .";
	var mask = 0;
	 if (document.getElementById('mask').checked) {
			mask = 'yes';
		}
	else {
		mask = "no";
	}



	var data ={
		"uid" : uid,
		"temperature": temp_float,
		"mask":mask,
	}

	socket.emit("scanned_security",data);
	console.log(data);
	 
} 
 }	 

socket.on("manual_scurity_status",function(data){
 console.log(data);
 
 if (data == "not_a_person"){
 $("#main_modal").modal("hide"); 
 $('#error_modal').modal('show');
 }
if (data == "temp_high"){
$("#main_modal").modal("hide"); 
 $('#temp_modal').modal('show');
 }
if (data == "temp_ok"){
$("#main_modal").modal("hide"); 
 $('#ok_modal').modal('show');
 }

if( backtab == 1) {
setTimeout(function() { showAndroidToast('Hello Android!');   }, 2000);
 }

 });

socket.on("broadcast_scurity_status",function(data){
 console.log(data);
 console.log("---------------");
 console.log(backtab);
 if (backtab == 1 ){
	 if (data == "not_a_person"){
	 $("#main_modal").modal("hide"); 
	 $('#error_modal').modal('show');
	setTimeout(function() { $('#error_modal').modal('hide'); }, 5000);
	
	 }
	if (data == "temp_high"){
	$("#main_modal").modal("hide"); 
	 $('#temp_modal').modal('show');
	setTimeout(function() { $('#temp_modal').modal('hide'); }, 5000);

	 }
	if (data == "temp_ok"){
	$("#main_modal").modal("hide"); 
	 $('#ok_modal').modal('show');
	setTimeout(function() { $('#ok_modal').modal('hide'); }, 5000);

	 }
}
//socket.emit("security_front_tab",data);
 
 });






</script>

<script src="{{url_for('static',filename='qr.js')}}"></script>
  <script type="text/javascript">
   /*var scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5, mirror: false });
    scanner.addListener('scan',function(content){
        //alert(content);
		document.getElementById("uid").value = content ;
        $('#main_modal').modal('show');
		//window.location.href=content;
		
    });
    Instascan.Camera.getCameras().then(function (cameras){
        if(cameras.length>0){
            scanner.start(cameras[1]);
        }else{
            console.error('No back-cameras found.');
            alert('No back-camera found.');
        }
    }).catch(function(e){
        console.error(e);
       alert(e);
      // document.getElementById("add_image").innerHTML = '<img src="/static/img/security.svg" height="200px" class="rounded mx-auto d-block" alt="...">';
				
    });*/
</script>

<script type="text/javascript">
    function showAndroidToast(toast) {
        Android1.showToast(toast);
    }
</script>

<script type="text/javascript">

/*var temperatures = [34.9,35.28,35.39,35.35,35.37,3.40,35.34,35.5,35.6,35.65,35.81,35.57,35.92,35.97,35.69,35.70,36.30,36.37,36.32,36.10,36.40,36.45,35.50,36.38,36.39,36.17,36.18,36.19,36.20,36.21,36.23,36.24,36.25,36.26,36.7,36.6,36.4,36.02,36.03,36.04];
function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
}
//x = getRandomInt(0, temperatures.length);
//console.log(x);
//console.log(temperatures[x]);*/

    function fromandroid(val){
	
	alert("RECIEVED");

	if (val["from_android"] == "true"){
	document.getElementById("uid").value = val['uid'] ;
	
	$('#main_modal').modal('show');
	
	}
 }

</script>


 
 <script>
 //test
 //document.getElementById("uid").value = '1e368ce4-a3b4-11ea-954d-1008b1241edb' ;
 //document.getElementById("uid").value = '4bf4d1f6-a3b5-11ea-8e17-1008b1241edb' ;
//$('#main_modal').modal('show');
 </script>
 
{% endblock %}
