{% extends "template.html" %}

{% block content %}

<style>

:root {
  --windows-blue: #365ec8;
  --bluish: #3091c9;
  --warm-blue: #5460dc;
  --white: #ffffff;
  --dusk-blue: #28499f;
  --bluey-grey: #85a5c2;
  --light-sky-blue: #d4e3f0;
  --lipstick: #bb166b;
  --bluish-grey-20: rgba(115, 137, 156, 0.2);
  --topaz: #16b8bb;
  --aquamarine: #00d7af;
  --metallic-blue: #546593;
  --bluish-grey: #73899c;
  --very-light-pink: #d7d7d7;
  --gray-medium: rgba(205, 205, 210, 0.5);
  --text: #77777a;
  ---style: #002251;
}
	
	
.CARD_HEADER_FONT {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.93px;
  text-align: center;
  color: var(--windows-blue);
}
.Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
  .Alert-font {
  font-family: Manrope;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.61;
  letter-spacing: 0.38px;
  color: var(--dusk-blue);
}

.Have-you-experien {

	font-family: Manrope;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.14;
	letter-spacing: 0.38px;
	color: #28499f;

}

.YES {
								
								font-family: Manrope;
								font-size: 12px;
								font-weight: normal;
								font-stretch: normal;
								font-style: normal;
								line-height: 0.92;
								letter-spacing: 0.5px;
								color: #546593;
								background-color: ;
								}

.Oval-Copy {
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--bluish-grey-20);
}

.I-have-read-the-term {
  font-family: Manrope;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.3px;
  color: var(--dusk-blue);
}
.form-control.base {
  border-radius: 5px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  background-color: #fbfbfb;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--windows-blue)
  
  }

.form-control.base::-webkit-input-placeholder {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--windows-blue);
   border:none;
}

	</style>
 
 
      <div class="row no-gutters  mg-t-10">
        <div class="col-sm-12 col-lg-12">
          
		  
		   <div class="card">
         
		 
          <div class="card-body">
				
				 <div class="tx-12   CARD_HEADER_FONT">
             BASIC INFO
          </div><!-- card-header -->
				
			  <div class="form-group ">
			    <label for="company_name" class="Have-you-experien "> 1.Company Name</label>
			    <input class="form-control base basic_info" id="company_name" placeholder="XYZ Ltd." readonly>
			    
			  </div>
			  
			    <div class="form-group ">
			    <label for="o_id" class="Have-you-experien "> 2.Company Organistaion ID </label>
			    <input class="form-control base basic_info" id="o_id" placeholder="ABCDEF" readonly>
			    
			  </div>
			  
				
				<div class="form-group ">
			    <label for="max_registrations" class="Have-you-experien "> 3.Maximum Registrations </label>
			    <input class="form-control base basic_info" id="max_registrations" placeholder="" readonly>
			    
			  </div>
			  
			  	<div class="form-group ">
			    <label for="version" class="Have-you-experien "> 4.Current Anzen Version </label>
			    <input class="form-control base basic_info" id="version" placeholder="" readonly>
			    
			  </div>
			  
			  <hr>
		  <div class="tx-12  CARD_HEADER_FONT">
             SCAN SETTINGS
          </div><!-- card-header -->
			
			
			 <div class="form-group ">
			    <label for="scan_time" class="Have-you-experien">1. Daily Scan Time </label>
			    <input type="time" min="00:00:00" max="24:00:00" class="form-control base scan_settings" id="scan_time" placeholder="HH:MM:SS" >
			    
			  </div>

			  <div class="form-group ">
			    <label for="scan_unit" class="Have-you-experien">2. Scanning Unit </label>
				    
				    <div class="form-check pl-5">
					  <input class="form-check-input scan_radio" type="radio" name="scan_unit" id="Fahrenheit" value="Fahrenheit" >
					  <label class="form-check-label Have-you-experien" for="Fahrenheit">
					    Fahrenheit
					  </label>
					</div>
					<div class="form-check pl-5">
					  <input class="form-check-input scan_radio" type="radio" name="scan_unit" id="Celsius" value="Celsius">
					  <label class="form-check-label Have-you-experien" for="Celsius">
					    Celsius
					  </label>
					</div>
			    
			   
			  </div>

			  <div class="form-group ">
			    <label for="scan_minimum" class="Have-you-experien"> 3. Minimum Scanning Value (Unit As selected Above)</label>
			    <input class="form-control base scan_settings" id="min_scan" placeholder="30">
			    
			  </div>

			  <div class="form-group">
			    <label for="scan_minimum" class="Have-you-experien"> 4. Maximum Scanning Value (Unit As selected Above)</label>
			    <input class="form-control base scan_settings" id="max_scan" placeholder="40">
			    
			  </div>

			  <div class="form-group">
			    <label for="scan_minimum" class="Have-you-experien"> 5. Scan threshold for Entry (Unit As selected Above)</label>
			    <input class="form-control base scan_settings" id="threshold_scan" placeholder="37.5">
			    
			  </div>

				 <div class="form-group ">
			    <label for="scan_unit" class="Have-you-experien">6. Use of ANZEN Hardware </label>
				    
				    <div class="form-check pl-5">
					  <input class="form-check-input scan_radio1" type="radio" name="anzen_hardware" id="anzen_hardware_yes" value="anzen_hardware_yes" disabled>
					  <label class="form-check-label Have-you-experien" for="anzen_hardware_yes">
					    Yes
					  </label>
					</div>
					<div class="form-check pl-5">
					  <input class="form-check-input scan_radio1" type="radio" name="anzen_hardware" id="anzen_hardware_no" value="anzen_hardware_no" disabled>
					  <label class="form-check-label Have-you-experien" for="anzen_hardware_no">
					    No
					  </label>
					</div>
			    
			   
			  </div>

				  <div class="form-group">
			    <label for="anzen_hardware_uid" class="Have-you-experien"> 7. Anzen Hardware UID (If Applicable) </label>
			    <input class="form-control base scan_settings" id="anzen_hardware_uid" placeholder="xxxxxxx" readonly>
			    
			  </div>
				
			<hr>
			
			
			<div class="Have-you-experien pd-2" id="master_console" ></div>
			<button type="button" onclick=get_changes() class="btn Rectangle btn-block"> SAVE </button>
          </div>
		  </div>
		  
		  
		  
		  
           
        </div>
      </div>



	  
	  



<!--High Temp Modal -->
<div class="modal fade" id="temp_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	 <div class="modal-header bg-danger">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
		    <img src="/static/img/reject.svg" height="200px" class="rounded mx-auto d-block" alt="...">
      </div>
      <div class="modal-body">
    	<div class="p-2 tx-black alert alert-danger" role="alert"> 
		Temperature entered is above 100 Fahrenheit !! 
		</div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>	




<script>

 
var socket=io.connect('http://'+document.domain+":"+location.port)

socket.emit("get_settings_oid");

socket.on("send_settings_oid",function(dataSet){
  console.log(dataSet);
  
    var basic_info_elements = document.getElementsByClassName('basic_info');
	console.log(basic_info_elements.length);
	for (var i=0 ; i<basic_info_elements.length ; i++ ){
	//console.log(basic_info_elements[i].id);
	basic_info_elements[i].value = dataSet[0][basic_info_elements[i].id]  ; 
	}
	
	
	var scan_settings_elements = document.getElementsByClassName('scan_settings');
	console.log(scan_settings_elements.length);
	scan_settings ={};
	for (var i=0 ; i<scan_settings_elements.length ; i++ ){
	//console.log(basic_info_elements[i].id);
	scan_settings_elements[i].value = dataSet[0]['scan_settings'][scan_settings_elements[i].id] ; 
	//console.log(scan_settings_elements[i]);
	}
	
  //console.log(dataSet[0]["scan_settings"]["scan_unit"]);
   if (dataSet[0]["scan_settings"]["scan_unit"] == "Fahrenheit"){
   
   document.getElementById("Fahrenheit").checked = true;
   
   }
   else {
   
   document.getElementById("Celsius").checked = true;
   
   }
   
   if (dataSet[0]["scan_settings"]["scan_hardware"] == "anzen_hardware_yes"){
   
   document.getElementById("anzen_hardware_yes").checked = true;
   
   }
   else {
   
   document.getElementById("anzen_hardware_no").checked = true;
   
   }
   
  
  
});


function get_changes(){

	var basic_info_elements = document.getElementsByClassName('basic_info');
	console.log(basic_info_elements.length);
	basic_info ={};
	for (var i=0 ; i<basic_info_elements.length ; i++ ){
	//console.log(basic_info_elements[i].id);
	basic_info[basic_info_elements[i].id] = basic_info_elements[i].value ; 
	}
	console.log(basic_info);


	var scan_settings_elements = document.getElementsByClassName('scan_settings');
	console.log(scan_settings_elements.length);
	scan_settings ={};
	for (var i=0 ; i<scan_settings_elements.length ; i++ ){
	//console.log(basic_info_elements[i].id);
	scan_settings[scan_settings_elements[i].id] = scan_settings_elements[i].value ; 
	}
	//console.log(scan_settings);


	var genders = document.getElementsByClassName('scan_radio');

	for(var i = 0; i < genders.length; i++) {
	   if(genders[i].checked)
		   scan_settings["scan_unit"] = genders[i].value;
		   
	 }
	//console.log(selectedGender);


	var genders = document.getElementsByClassName('scan_radio1');
	//console.log(genders)
	for(var i = 0; i < genders.length; i++) {
	   if(genders[i].checked)
		   scan_settings["scan_hardware"] = genders[i].value;
	 }
	//console.log(selectedGender);

	console.log(scan_settings);


	 
	var server_settings_elements = document.getElementsByClassName('server_settings');
	console.log(server_settings_elements.length);
	server_settings ={};
	for (var i=0 ; i<server_settings_elements.length ; i++ ){
	//console.log(basic_info_elements[i].id);
	server_settings[server_settings_elements[i].id] = server_settings_elements[i].value ; 
	}
	console.log(server_settings);




	to_send = {};
	to_send["scan_settings"] = scan_settings ;
	//basic_info["server_settings"] = server_settings ;
	//socket.emit("")
	console.log(to_send);
	socket.emit("organisation_settings_change",to_send);

}

socket.on("master_console",function(data){
 document.getElementById("master_console").innerHTML = data ;
}); 


</script>


 
{% endblock %}
