{% extends "template.html" %}

{% block content %}
<style>

:root {
  --windows-blue: #365ec8;
  --bluish: #3091c9;
  --warm-blue: #5460dc;
  --white: #ffffff;
  --dusk-blue: #28499f;
  --bluey-grey: #85a5c2;
  --light-sky-blue: #d4e3f0;
  --lipstick: #bb166b;
  --bluish-grey-20: rgba(115, 137, 156, 0.2);
  --topaz: #16b8bb;
  --aquamarine: #00d7af;
  --metallic-blue: #546593;
  --bluish-grey: #73899c;
  --very-light-pink: #d7d7d7;
  --gray-medium: rgba(205, 205, 210, 0.5);
  --text: #77777a;
  ---style: #002251;
}
	
	
.CARD_HEADER_FONT {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.93px;
  text-align: center;
  color: var(--windows-blue);
}
.Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
  .Alert-font {
  font-family: Manrope;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.61;
  letter-spacing: 0.38px;
  color: var(--dusk-blue);
}
	
	</style>
 
	<div class="row no-gutters  mg-t-10">
		<div class="col-sm-12 col-lg-12">
          <div class="card">
              <div class="card-header  CARD_HEADER_FONT">
                MY TEMPERATURE HISTORY  
              </div><!-- card-header -->
              <div class="card-body ht-500" >
			<!-- <div class="alert alert-info" role="alert">
			  <h4 class="alert-heading"> <i class="fa fa-thumbs-up" aria-hidden="true"></i>Info </h4>
			  <hr>
			  <p class="mb-0">No history found. Your temperture history will appear here.
			  </div>-->
			  <div id="info"></div>
			  
			<div class="row justify-content-center" >
			
			
		<div id="curve_chart" style="height: 400px  overflow-x: auto;" class="wd-400 wd-md-700 wd-lg-1000"></div>
			</div>
			  
			    
			
		</div>
		</div>
		</div>
	</div>
     
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 
    <script type="text/javascript">
	var to_draw = '{{ user_flag}}'
	console.log(to_draw);
	
	if (to_draw == "True") {
	
    var user_temp={{ user_temp | tojson}};
		console.log(user_temp);

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable( user_temp );

        var options = {
          
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
	  }
	  else {
	  
	  innerhtml = '"<div class="alert alert-primary" role="alert">'+
  'No temperature history found ! Temperature history will appear once you have been scanned at your organisation security gate.'+
'</div>';
document.getElementById('info').innerHTML = innerhtml ;
	  
	  
	  }
    </script>

{% endblock %}

      
  
  

    