<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Twitter -->
  <meta name="twitter:site" content="@themepixels">
  <meta name="twitter:creator" content="@themepixels">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Bracket">
  <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
  <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

  <!-- Facebook -->
  <meta property="og:url" content="http://themepixels.me/bracket">
  <meta property="og:title" content="Bracket">
  <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

  <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
  <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="600">

  <!-- Meta -->
  <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
  <meta name="author" content="ThemePixels">

  <title>CYRONICS</title>

  <!-- vendor css -->
  <link href="{{url_for('static',filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">
  <!-- Bracket CSS -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/bracket.css')}}">
  <style>
    

    @media (min-width: 1345px) {
  .crk {
    height:140vh;
    overflow-y: auto;
  }
}

@media (min-width: 700px) {
  .crk {
    height:100vh;
  
  }
}


@media (min-width: 500px) {
  .crk1 {
    height:78vh;
    
  }
}

@media (min-width: 700px) {
  .crk1 {
    height:73vh;
    margin-left:55px;
    margin-top:-45px;
    


  }
}

@media (min-width: 1024px) {
  .crk {
    height:110vh;
    overflow-y: auto;
  }
}
    .frame {
       overflow-x: auto;
       line-height: 1em;
       overflow-y:auto;
       max-height: 90vh;
   }

  

   .frame::-webkit-scrollbar {
       -webkit-appearance: none;
   }

   .frame::-webkit-scrollbar:vertical {
       width: 10px;
   }

   .frame::-webkit-scrollbar:horizontal {
       height: 20px;
   }

   .frame::-webkit-scrollbar-thumb {
       border-radius: 8px;
       border: 2px solid white; /* should match background, can't be transparent */
       background-color: rgba(0, 0, 0, .5);
   }

    </style>


</head>

<body>

  <!-- ########## START: LEFT PANEL ########## -->
  <div class="br-logo"><a href=""><span></span>PPAP<span></span></a></div>
  <div class="br-sideleft overflow-y-auto">
    <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
    <center><img src="static/img/c4i4logo.png" style="width:80%;height:80%" alt=""></center><hr><div class="br-sideleft-menu">
    

     

      <a href="#" class="br-menu-link active show-sub">
        <div class="br-menu-item">
            <i class="menu-item-icon fa fa-user-circle tx-24"></i>
            &nbsp;&nbsp;<span class="menu-item-label">Admin</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
      <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="/" class="nav-link active">User Details &nbsp;&nbsp;&nbsp;</a></li>
        <li class="nav-item"><a href="/generic" class="nav-link ">Generic Details &nbsp;&nbsp;&nbsp;</a></li>
        <li class="nav-item"><a href="/part" class="nav-link ">Part Details &nbsp;&nbsp;&nbsp;</a></li>
        <li class="nav-item"><a href="/machine" class="nav-link ">Machine Details &nbsp;&nbsp;&nbsp;</a></li>
        <li class="nav-item"><a href="/production" class="nav-link ">Production Details &nbsp;&nbsp;&nbsp;</a></li>
      </ul>

      <a href="#" class="br-menu-link">
        <div class="br-menu-item">
          <i class="menu-item-icon icon ion-wrench tx-20"></i>
          <span class="menu-item-label">Operator App</span>
          <i class="menu-item-arrow fa fa-angle-down"></i>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
      <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="/basic" class="nav-link">Basic Details</a></li>
        <li class="nav-item"><a href="/downtime" class="nav-link">Downtime</a></li>
        <li class="nav-item"><a href="/rejection" class="nav-link active">Rejection</a></li>
        
      </ul>


      <a href="#" class="br-menu-link">
        <div class="br-menu-item">
          <i class="menu-item-icon fa fa-cogs tx-20"></i>
          <span class="menu-item-label">Dashboard</span>
          <i class="menu-item-arrow fa fa-angle-down"></i>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
      <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="/plant_details" class="nav-link ">Plant Details</a></li>
        <li class="nav-item"><a href="/hirarchy" class="nav-link ">Hirarchy</a></li>
        <li class="nav-item"><a href="/spr" class="nav-link">SPR</a></li>
        
      </ul>



     
      
      
      
     

      
  
  </div><!-- br-sideleft -->
  </div>
  <!-- ########## END: LEFT PANEL ########## -->

  <!-- ########## START: HEAD PANEL ########## -->
  <div class="br-header">
    <div class="br-header-left">
      <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a>
      </div>
      <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i
            class="icon ion-navicon-round"></i></a></div>

    </div><!-- br-header-left -->
    <div class="br-header-right">

      <div class="dropdown">
        <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
          <span class="logged-name hidden-md-down" id="user"></span>
          <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
          <span class="square-10 bg-success"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-header wd-200">
          <ul class="list-unstyled user-profile-nav">


            <li><a href="#"><i class="icon ion-power"></i> Sign Out</a></li>
          </ul>
        </div><!-- dropdown-menu -->
      </div><!-- dropdown -->



    </div><!-- br-header-right -->
  </div><!-- br-header -->
  <!-- ########## END: HEAD PANEL ########## -->


  <!-- ########## START: MAIN PANEL ########## -->
  <div class="br-mainpanel" style="height:700px;">
    <div class="br-pageheader pd-y-1 pd-l-20">

    </div><!-- br-pageheader -->


    <div class="br-pagebody">
      
         <!-- <button class="btn btn-warning pd-y-5" style="margin-top:-30px;" onclick="">play</button>-->


      <div class="row">
        <div class="card col-12 col-md-12 col-lg-12 bg-white  bd bd-dark crk">
          <div class="pt-3">
            <h5>User Details</h5>
          </div>

<div class="d-flex justify-content-end mg-t-10">
  <div class="p-2 btn  btn-primary btn-sm" onclick="myCreateFunction()">ADD</div>&nbsp;&nbsp;
  <div class="p-2 btn  btn-success btn-sm" data-toggle="modal" data-target="#modal4">SAVE</div>
</div>


   
    


   


<div class='frame mg-t-10'>
  <div class="table-wrapper" >
        <table id="datatable1" class="table display table-striped responsive nowrap tx-dark table-sm">
          <thead class='thead-colored thead-dark' id="ppap_head">
            <tr>
              <th class="">Issue Date</th>
              <th class="">Application Code</th>
              <th class="">Job Name</th>
              <th class="">Target Qty</th>
              <th class="">Pick MO ID</th>
              <th class="">Time</th>
              <th class="">Status</th>
              <th class="">Done Qty</th>
              <th class="">Action</th>

              

            </tr>
          </thead>
         <tbody id="table_data">
           
           </tbody>
        </table>
      </div><!-- table-wrapper -->
  </div>
  <div>Please scroll to view the entire table on smaller screens</div>

      </div>
      
      
      
        </div>

      </div><!-- br-pagebody -->

    <!-- br-mainpanel -->

    

    
   



    






   
      
  


<script>

</script>

<script>
   
  //alert(h);
  //document.getElementById('FrameID').contentWindow.location.reload(true);
  </script>













    <!-- ########## END: MAIN PANEL ########## -->
    <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{url_for('static',filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib/moment/moment.js')}}"></script>
    <script src="{{url_for('static',filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{url_for('static',filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{url_for('static',filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{url_for('static',filename='js/bracket.js')}}"></script>
   

</body>

</html>
<script>
//var socket=io.connect('http://127.0.0.1:5000/')
var socket=io.connect('http://'+document.domain+":"+location.port)
socket.emit("get_all_jobs")
socket.on("response_all_jobs",function(jobs){
//console.log(jobs)
str1="";
for(var i=0;i<jobs.length;i++){
  str1+='<tr>';
  //str1+=''
  //console.log(jobs[i]['Application Code']);
  for(key in jobs[i]){


   if(key == 'Issue Date')
   {
    str1+='<td>'+jobs[i][key]+'</td>';
   }

   if(key == 'Application Code')
   {
    str1+='<td>'+jobs[i][key]+'</td>';
   }

   if(key == 'Job Name')
   {
    str1+='<td>'+jobs[i][key]+'</td>';
   }

   if(key == 'Target Qty')
   {
    str1+='<td>'+jobs[i][key]+'</td>';
   }

   if(key == 'Pick MO ID')
   {
    str1+='<td>'+jobs[i][key]+'</td>';
   }
   if(key == 'Time')
   {
    str1+='<td>'+jobs[i][key]+'</td>';
   }
   if(key == 'Status')
   {
    str1+='<td>'+jobs[i][key]+'</td>';
   }
   if(key == 'Done Qty')
   {
    str1+='<td>'+jobs[i][key]+'</td>';
   }

}
  str1+='<td><button class="btn  btn-primary btn-sm pd-y-1" onclick="get_master_card_id(this)" id="'+jobs[i]['Application Code']+'">View</button></td></tr>';

  //str1+='</tr>';

}
document.getElementById('table_data').innerHTML=str1;

});

function get_master_card_id(x){
  socket.emit("master_card_id",{"card_id":x.id})
  socket.on("response_pick_up_details",function(given_master_card_dict){
    console.log(given_master_card_dict);
  });
}

</script>
 




  
 
   
