<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">
<!--   <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
  <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Workplace Security</title>

    
	<link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}"> 


	</head>

  <body>

    <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v bg-primary">

      <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><img src="/static/img/grey_logo.svg" width="60%"></div>
        <div class="tx-center mg-b-30">Ensuring Workplace Safety</div>
		
		<div class="ht-50v" style=" overflow-y: auto;">
			
			<div class="form-group">
			  <img src="/static/img/signup.svg" width="100%">
			</div> <!-- form-group --> 
			<div class="alert alert-primary" role="alert">
				Please enter OTP sent to {{ user }}.
			</div>
			
			<div class="form-group">
			  <input type="text" id="otp" class="form-control" placeholder="Enter 6 digit OTP">
			</div> <!-- form-group -->
		  
		</div>
		
	<div  id ="success" class="tx-primary"></div>
		<div  id ="error" class="tx-danger"></div>
        <button onclick ="show()"  class="btn btn-warning btn-block">Verify</button>
		  
	  <div class="mg-t-40 tx-center">Not yet received?  <div  id="resend" onclick="resend()" class="tx-primary">Resend</a></div>
     
		 
		
		
			
		
	 <div class="mg-t-10 tx-center tx-primary">C4i4 | Cyronics </div>

	  <div class="alert alert-primary" role="alert">
   For any issues related to sign up process / OTP please contact 9922998224 immediately. 
</div>
     
	 
	 </div><!-- login-wrapper -->
	 
    </div><!-- d-flex -->

   
	<script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/highlightjs/highlight.pack.js')}}"></script>
    <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>
	


	<script>
var socket=io.connect('http://'+document.domain+":"+location.port)
socket.emit("Verify OTP")
function show()
{
	var otp = document.getElementById("otp").value;
	socket.emit("verify_otp_data",otp);
	console.log(otp);
	 
    
}
function resend()
{
	socket.emit("resend_otp");
	console.log("resend_request");
	document.getElementById("resend").innerHTML = "Sent. Please wait."
	
} 
socket.on("otp_status",function(msg){
 console.log(msg);
 if (msg == "Redirecting ..."){
	 document.getElementById("error").innerHTML ="";
	 document.getElementById("success").innerHTML = "Verification Successful! You will be notified via SMS once your application is accepted.";
	 location.href = "/login";
 }
else{
document.getElementById("success").innerHTML="";
    document.getElementById("error").innerHTML = "Unuccessful. Please check OTP.";

} 
 
 });

</script>
	
  </body>
</html>
