<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
 <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Workplace Security</title>

    
	<link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}"> 


	</head>

  <body>

    <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v bg-primary">

      <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><img src="/static/img/grey_logo.svg" width="60%"></div>
        <div class="tx-center mg-b-30">Ensuring Workplace Safety</div>
		
		<div  id="questions" style="height: 300px; overflow-y: auto;">
			<!--<div class="form-group">
			  <input type="number"  id="o_id" class="form-control" placeholder="Organisation ID ">
			</div> <!-- form-group -->
		  
		  <div class="form-group" >    
			  <select class="form-control" id="o_id" >
				   <option value="" selected disabled>Select Organisation To Visit</option>
				  <option value="KPCL, Saswad">KPCL, Saswad</option>
				  <option value="C4i4">C4i4</option>
				  <option value="Cyronics" >Cyronics</option>
				  <option value="Aakar Foundry" >Aakar Foundry</option>
				  
			</select>
			</div><!-- form-group -->
		  
		   <div class="form-group">
			  <input type="text" id="parent_organisation"  class="form-control" placeholder="Enter your organisation name">         
			</div><!-- form-group -->
		  
		  <div class="form-group">
			  <input type="text" id="phone"  class="form-control" placeholder="Enter your phone number">         
			</div><!-- form-group -->
		  
			<div class="form-group">
			  <input type="text" id="name" class="form-control" placeholder="Enter your Name">
			</div><!-- form-group -->
		  
		 <!-- <div class="form-group">
			  <input type="password" id="password" class="form-control" placeholder="Enter your password">         
			</div>
			
			<div class="form-group">
			  <input type="password" id ="verify_password" class="form-control" placeholder="Verify your password">         
			</div>-->
			
			<div class="form-group">
			  <input type="number" id="age" class="form-control" placeholder="Enter your Age" >         
			</div><!-- form-group -->
			
			<div class="form-group" >    
			  <select class="form-control " id="role" disabled>
				   <option value="Visitor" selected disabled>Visitor </option>
				  <option value="Employee">Employee</option>
				  <option value="Security">Security</option>
				  <option value="Admin" >Admin</option>
			</select>
			</div><!-- form-group -->
			
			
			<form class="tx-black">
			<div class="pt-1 pb-1">
				Do you have any of the following ?
				</div>
			  <div class="form-check pl-4 ">
				<input type="checkbox" class="form-check-input" id="heart">
				<label class="form-check-label" for="heart">Heart Problems</label>
			  </div>
			   <div class="form-check pl-4 ">
				<input type="checkbox" class="form-check-input" id="respiratory">
				<label class="form-check-label" for="respiratory">Respiratory Problems</label>
				 </div>
				 <div class="form-check pl-4 ">
				<input type="checkbox" class="form-check-input" id="bp">
				<label class="form-check-label" for="bp">Blood Pressure</label>
				 </div>
				 <div class="form-check pl-4 ">
				<input type="checkbox" class="form-check-input" id="diabetes">
				<label class="form-check-label" for="diabetes">Diabetes</label>
				 </div>
				 <div class="form-check pl-4 ">
				<input type="checkbox" class="form-check-input" id="none">
				<label class="form-check-label" for="none">None of the above</label>
				 </div>
				</form>
				
				<hr>
				<form class="tx-black">
			<div class="pt-1 pb-1">
				Do you have family members below 10 years of age or greater 65 years of age?
				</div>
			  <div class="form-check pl-4 ">
				<input  class="form-check-input" type="radio" name="exampleRadios" id="yes_age">
				<label class="form-check-label" for="yes_age">Yes </label>
			  </div>
			   <div class="form-check pl-4 ">
				<input  class="form-check-input" type="radio" name="exampleRadios" id="no_age">
				<label class="form-check-label" for="no_age"> No</label>
				 </div>
				
				</form>
				
            <hr>
            <!--new _update_question-->
            <form class="tx-black">
                <div class="pt-1 pb-1">
                    Have you experienced fever since yesterday ?
                    </div>
                  <div class="form-check pl-4 ">
                    <input  class="form-check-input" type="radio" name="exampleRadios" id="yes_fever">
                    <label class="form-check-label" for="yes_fever">Yes </label>
                  </div>
                   <div class="form-check pl-4 ">
                    <input  class="form-check-input" type="radio" name="exampleRadios" id="no_fever">
                    <label class="form-check-label" for="no_fever"> No</label>
                     </div>
                    
            </form>
            <hr>

            <form class="tx-black">
                <div class="pt-1 pb-1">
                    Have you experienced cough since yesterday ?
                    </div>
                  <div class="form-check pl-4 ">
                    <input  class="form-check-input" type="radio" name="exampleRadios" id="yes_cough">
                    <label class="form-check-label" for="yes_cough">Yes </label>
                  </div>
                   <div class="form-check pl-4 ">
                    <input  class="form-check-input" type="radio" name="exampleRadios" id="no_cough">
                    <label class="form-check-label" for="no_cough"> No</label>
                     </div>
                    
            </form>
			
            <hr>
            
            <form class="tx-black">
                <div class="pt-1 pb-1">
                    Have you experienced difficulty in breathing since yesterday ?
                    </div>
                  <div class="form-check pl-4 ">
                    <input  class="form-check-input" type="radio" name="exampleRadios" id="yes_breathing">
                    <label class="form-check-label" for="yes_breathing">Yes </label>
                  </div>
                   <div class="form-check pl-4 ">
                    <input  class="form-check-input" type="radio" name="exampleRadios" id="no_breathing">
                    <label class="form-check-label" for="no_breathing"> No</label>
                     </div>
                    
            </form>
			
            <hr>

            <form class="tx-black">
                <div class="pt-1 pb-1">
                    Have you been to red-containment zone since yesterday ?
                    </div>
                  <div class="form-check pl-4 ">
                    <input  class="form-check-input" type="radio" name="exampleRadios" id="yes_red_containment">
                    <label class="form-check-label" for="yes_red_containment">Yes </label>
                  </div>
                   <div class="form-check pl-4 ">
                    <input  class="form-check-input" type="radio" name="exampleRadios" id="no_red_containment">
                    <label class="form-check-label" for="no_red_containment"> No</label>
                     </div>
                    
            </form>
            


			
			
			
			

		</div>
		<div  id ="error" class="tx-danger"></div>
		<div  id ="success" class="tx-primary"></div>
		
        <button onclick=" relocate_signup()"  class="btn btn-warning btn-block p-2">Submit</button>


<!--High Temp Modal -->
<div class="modal fade" id="temp_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	 <div class="modal-header bg-danger">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
		    <img src="/static/img/reject.svg" height="200px" class="rounded mx-auto d-block" alt="...">
      </div>
      <div class="modal-body">
    	<div class="p-2 tx-black alert alert-danger" id="not_accepted" role="alert"> 
		Your application has not been accepted. Please verify your answers.
		</div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>	


<!--Accept Modal -->
<div class="modal fade" id="ok_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	 <div class="modal-header bg-teal">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
			 <img src="/static/img/accept.svg" height="200px" class="rounded mx-auto d-block" alt="...">
      </div>
      <div class="modal-body">
	  <div class="p-2 tx-black alert alert-success" role="alert"> 
		Your application has been accepted. Please copy the link for your E-Pass mentioned below. 
		The same link will be sent to you via SMS.
		</div>
       
		<div class="p-2 tx-black alert alert-success" id="accepted" role="alert"> 
		
		</div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-teal" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>	

		
		
		<script>
function relocate_signup()
{
 // form filters 
 //var password = document.getElementById("password").value;
 //var verify_password = document.getElementById("verify_password").value;
 var phone = document.getElementById("phone").value;
 var role = document.getElementById("role").value;
 var age = document.getElementById("age").value;
 var o_id = document.getElementById("o_id").value;
 var name = document.getElementById("name").value;
 var error = document.getElementById("error");
 var success =  document.getElementById("success");
 
 var parent_organisation = document.getElementById("parent_organisation").value;
 
 /*if (password != verify_password){
	error.innerHTML = "Passwords do not match"
 }*/
 if(phone.length != 10) {
 error.innerHTML = "Please enter a valid 10 digit phone number."
 }
 else if(parent_organisation == "" ){
 error.innerHTML = "Please enter your Orgnisation Name. "
 
 }
 
 else if(role == "role" ) {
 error.innerHTML = "Please select a role to continue."
 }
 
else if (age == 0 ){
 error.innerHTML = "Please enter valid age to continue." 
}

else if (o_id == "" ){
 error.innerHTML = "Please select Organisation ID to continue." 
}
else {
 error.innerHTML = "";
 success.innerHTML = "Submitting Application ... ";
 
 //--------------------------------------
 
 
var heart = 0;
if (document.getElementById('heart').checked) {
	heart = 'yes';
} else {
	heart = "no";
}

var diabetes = 0;
if (document.getElementById('diabetes').checked) {
	diabetes = 'yes';
} else {
    
	diabetes = "no";
}

var bp = 0;
if (document.getElementById('bp').checked) {
	bp = 'yes';
} else {
	bp = "no";
}

var respiratory = 0;
if (document.getElementById('respiratory').checked) {
	respiratory = 'yes';
} else {
	respiratory = "no";
}

var none = 0;
if (document.getElementById('none').checked) {
	none = 'yes';
} else {
	none = "no";
}


var yes_age = 0
if (document.getElementById('yes_age').checked) {
	yes_age = 'yes';
} else {
	yes_age= "no";
}

//new updated

var yes_fever=0
if (document.getElementById('yes_fever').checked) {
	yes_fever = 'yes';
} else {
	yes_fever= "no";
}

var yes_cough=0
if (document.getElementById('yes_cough').checked) {
	yes_cough = 'yes';
} else {
	yes_cough= "no";
}


var yes_breathing=0
if (document.getElementById('yes_breathing').checked) {
	yes_breathing = 'yes';
} else {
	yes_breathing= "no";
}

var yes_red_containment=0
if (document.getElementById('yes_red_containment').checked) {
	yes_red_containment = 'yes';
} else {
	yes_red_containment= "no";
}
 
 //======================================
 
 
 
 
 
 data = {
 "o_id":o_id,
 "name":name,
 "phone":phone,
 "age":age,
 "role":role,
 "respiratory":respiratory,
 "diabetes":diabetes,
 "parent_organisation":parent_organisation,
 "heart":heart,
 "bp":bp,
 "none":none,
 "yes_age":yes_age,
 "fever":yes_fever,
 "cough":yes_cough,
 "breathing":yes_breathing,
 "redzone":yes_red_containment
 }

 console.log(data);
 socket.emit("visitor_Request" ,data)
 }
} 
</script>
	 <div class="mg-t-10 tx-center tx-primary">C4i4 | Cyronics </div>
     
	 
	 </div><!-- login-wrapper -->
	 
    </div><!-- d-flex -->

   
	<script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/highlightjs/highlight.pack.js')}}"></script>
    <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>
	
	
  </body>
</html>


<script>
var socket=io.connect('http://'+document.domain+":"+location.port)
socket.emit("Sign Up")
 
 socket.on("signup_questions",function(questions){
 console.log(questions);
 inner_html = ""
 
 for(var i = 0 ;i < questions.length ;i++){
 console.log(i);

 }

});
 socket.on("sign_up_status",function(msg){
 console.log(msg);
 if (msg == "Redirecting ..."){
 
	location.href = "/verifyotp";
 
 }
 else{
 success.innerHTML = "";
 error.innerHTML = msg; 
 }
 
 
 });
 
 
 socket.on("visitor_application",function(data){
 
 if (data["status"] == "Accepted"){
document.getElementById("accepted").innerHTML = 'https://'+document.domain + data["link"];
$('#ok_modal').modal('show');
 error.innerHTML = "";
 success.innerHTML = "Application received.";
 }
if (data["status"] == "Rejected"){
  $('#temp_modal').modal('show');
 error.innerHTML = "Application Rejected";
 success.innerHTML = "";
 
 
 }
 
 });
 
 
 
 
 </script>


</script>
