{% extends "template.html" %}
{% block content %}

<div class="row no-gutters  mg-t-10">
    <div class="col-sm-12 col-lg-12">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary btn-sm " onclick="download_csv()">Export CSV</button>&nbsp;&nbsp;

        <div class="input-group wd-250">

          <input id="dateMask" type="text" class=" form-control"
                                    placeholder="DD/MM/YYYY">
                                    
          <div class="input-group-append">
            <button class="btn btn-warning" type="button" value="dateMask" onclick="date_wise(this)"><i class="fa fa-calendar tx-16 lh-0 op-6"></i></button>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <span class="tx-danger" id="warning"></span>
    </div>
      <hr>
      <div class="card">
          <div class="card-header tx-black tx-bold tx-uppercase">
            VISITORS 
          </div><!-- card-header -->
          <div class="card-body ht-lg-350" style="overflow: scroll;">
          <div class="row">
          <div class="col-12">

            <table id="example" class="display text-dark" width="100%"></table>


          </div>
          </div>   
          </div>
      </div>
    </div>
</div> 

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group tx-black">
                  <div class= "pb-2">1. Have you experienced fever since yesterday ? </div>
                  <div class="col-12 form-check ">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="fever_no" value="option1" disabled="disabled">
                    <label class="form-check-label" for="exampleRadios1">
                  No
                    </label>
                  </div>
                  <div class=" col-12 form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="fever_yes" value="option2" disabled="disabled">
                    <label class="form-check-label" for="exampleRadios2">
                      Yes
                    </label>
                  </div>
                                              
              </div>
              
                <hr>

                 <div class="form-group tx-black">
                  <div class= "pb-2">2. Have you experienced cough since yesterday ?</div>
                  <div class="col-12 form-check ">
                    <input class="form-check-input" type="radio" name="exampleRadios11" id="cough_no" value="option1" disabled="disabled">
                    <label class="form-check-label" for="exampleRadios1">
                  No
                    </label>
                  </div>
                  <div class=" col-12 form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios11" id="cough_yes" value="option2" disabled="disabled">
                    <label class="form-check-label" for="exampleRadios2">
                      Yes
                    </label>
                  </div>
                                              
              </div>
                <hr>
                
                 <div class="form-group tx-black">
                  <div class= "pb-2">3. Have you experienced difficulty in breathing since yesterday ?</div>
                  <div class="col-12 form-check ">
                    <input class="form-check-input" type="radio" name="exampleRadios22" id="breathing_no" value="option1" disabled="disabled">
                    <label class="form-check-label" for="exampleRadios1">
                  No
                    </label>
                  </div>
                  <div class=" col-12 form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios22" id="breathing_yes" value="option2" disabled="disabled">
                    <label class="form-check-label" for="exampleRadios2">
                      Yes
                    </label>
                  </div>
                                              
              </div>
                <hr>
                
               
                
                 <div class="form-group tx-black">
                  <div class= "pb-2">4. Have you been to red-containment zone since yesterday ?</div>
                  <div class="col-12 form-check ">
                    <input class="form-check-input" type="radio" name="exampleRadios33" id="redzone_no" value="option1" disabled="disabled">
                    <label class="form-check-label" for="exampleRadios1">
                  No
                    </label>
                  </div>
                  <div class=" col-12 form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios33" id="redzone_yes" value="option2" disabled="disabled">
                    <label class="form-check-label" for="exampleRadios2">
                      Yes
                    </label>
                  </div>
                                              
              </div>
                <hr>
                
                
                   </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <link href="{{url_for('static',filename='lib1/jt.timepicker/jquery.timepicker.css')}}" rel="stylesheet">
  <script src="{{url_for('static',filename='lib/jt.timepicker/jquery.timepicker.js')}}"></script>
  <script src="{{url_for('static',filename='lib/jquery.maskedinput/jquery.maskedinput.js')}}"></script>



<script>
var socket=io.connect('http://'+document.domain+":"+location.port)
$('#dateMask').mask('99/99/9999');
$.fn.dataTableExt.sErrMode = 'throw' //this line of code to prevent warning dialog by datatable

var main_array=[]
socket.on("reciv_visitor",function(dataSet){
  for(var k =0;k<dataSet.length;k++){
   sub_array=[]
   sub_array.push(dataSet[k][0]) 
   sub_array.push(dataSet[k][1])
   sub_array.push(dataSet[k][2])
   
   sub_array.push(dataSet[k][4]) 
   sub_array.push(dataSet[k][5]) 
   main_array.push(sub_array)

  }
    $('#example').DataTable( {
        responsive: true,
        data: dataSet,
        destroy: true,
        columns: [
            { title: "Visitor" },
			{ title: "Organisation" },
			{ title: "Epass Status" },		
            { title: "View" },
            { title: "Temperature" },
            { title: "Visited" },
        ]
    } );

})
 
$(document).ready(function() {
    socket.emit("visitor_data")
} );

socket.on("set_date",function(data){
	document.getElementById("dateMask").value = data;
});


function modal_fun(x){
    //socket.emit("modal_visitor",String(x.value))
	var date = document.getElementById("dateMask").value;
	socket.emit("modal_visitor",{"number" : String(x.value),"date": date} );
}

socket.on("modal_data_visitor",function(data){
    temp_dict = {
        'redzone':['redzone_no','redzone_yes'],
        'breathing':['breathing_no','breathing_yes'],
        'cough':['cough_no','cough_yes'],
        'fever':['fever_no','fever_yes'],
        }
        console.log(data)
    for(key in data){  
      
    if(data[key] == "no"){
        console.log(data[key])
        document.getElementById(temp_dict[key][0]).checked = true;
    }
	if (data[key] == "yes" ){
        document.getElementById(temp_dict[key][1]).checked = true;
    }
	
	
    }

})


function date_wise(x){
  input = (document.getElementById(x.value).value)
  pattern = /(((0|1)[0-9]|2[0-9]|3[0-1])\/(0[1-9]|1[0-2])\/((19|20)\d\d))$/;

  if(pattern.test(input)){
    socket.emit("date_wise_visitor",input)
    document.getElementById("warning").innerText= ""
  }else{
    document.getElementById("warning").innerText= "Please Insert Correct Date!"
  }

}

console.log(main_array);
function download_csv() {
    var csv = 'Employee,Epass Status,Temperature,Visited\n';
    main_array.forEach(function(row) {
            csv += row.join(',');
            csv += "\n";
    });
 
    //console.log(csv);
    var hiddenElement = document.createElement('a');
    hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
    hiddenElement.target = '_blank';
    hiddenElement.download = 'Visited.csv';
    hiddenElement.click();
}


</script>

{% endblock %}