<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Workplace Security</title>

    
	<link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}"> 


	</head>

  <body>

    <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v bg-primary">

      <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><img src="/static/img/grey_logo.svg" width="60%"></div>
        <div class="tx-center mg-b-30">Ensuring Workplace Safety</div>
		
		<div  id="questions" style="height: 430px; overflow-y: auto;">
			<!--<div class="form-group">
			  <input type="number"  id="o_id" class="form-control" placeholder="Organisation ID ">
			</div> <!-- form-group -->
		  

			<div class="row no-gutters ">
                <div class="col-sm-12 col-lg-12">
                  <div class="card">
                      <div class="card-header tx-black tx-bold tx-uppercase">
                        E-PASS 
                      </div><!-- card-header -->
                      <div class="card-body" >
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          <strong>Accepted !!</strong>Last record on :  26/05/2020 22:42:01.
                          
                        </div>
                        <div class="row">
                        <img src="{{ url_for('static', filename='qr.png')}}" height="200px" class="rounded mx-auto d-block" alt="...">
                            
                        </div>
                       <div class="row">
                        <div class="col-12">
                            <button onclick="show()" class="btn btn-warning btn-block"> Retry </button>	
                        </div>		
                    </div>
                    
                </div>
                </div>
                </div>
            </div>
			
			
			

		</div>
		
		
		
		
		
	 <div class="mg-t-10 tx-center tx-primary">C4i4 | Cyronics </div>
     
	 
	 </div><!-- login-wrapper -->
	 
    </div><!-- d-flex -->

   
	<script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/highlightjs/highlight.pack.js')}}"></script>
    <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>
	
	
  </body>
</html>



